## Data Preprocessing

In [1]:
# pip install openpyxl pandas

In [2]:
import pandas as pd
df = pd.read_excel('Combined_All_Years_With_SumUp.xlsx')
df.head()

,Year,Mth,Report number,Day,Week No.,Engine,Variant,S/n,Operator,Place,...,Unnamed: 24,Staff,status,Invoiced? Y/N,Invoice No.,Promised Date to the customer,No.,Noria Y/N,Warranty Y/N,Scheduled/Unscheduled/AOG
0,2013,MARCH,NaN,14,11,Accessories,NaN,45001,PT TRAVIRA,KOTA BHARU,...,NaN,ADELINE,NaN,NaN,IV-00335,NaN,NaN,N,N,Unscheduled
1,2013,MARCH,NaN,14,11,ARRIEL 2,2S2,42295TEC,PT TRAVIRA,KOTA BHARU,...,NaN,ADELINE,NaN,NaN,IV-00336,NaN,NaN,N,N,Unscheduled
2,2013,MARCH,NaN,27,13,ARRIEL 1,1S1,15552TEC,MHS,GTA,...,NaN,JEROME,NaN,NaN,IV-00359,NaN,NaN,Y,N,Scheduled
3,2013,APR,NaN,9,15,Accessories,2D,50114,PT AIRFAST,IRIAN JAYA,...,NaN,ADELINE,NaN,NaN,IV-00380,NaN,NaN,Y,N,Scheduled
4,2013,MAY,NaN,10,19,ARRIEL 1,1S1,15129,MHS,GTA,...,NaN,JEROME,NaN,NaN,IV-00412,NaN,NaN,N,N,Scheduled

In [3]:
df.columns.tolist()

['Year',
 'Mth',
 'Report number',
 'Day',
 'Week No.',
 'Engine',
 'Variant',
 'S/n',
 'Operator',
 'Place',
 'Country',
 'Brief Description of Technical Intervention',
 'Intervention level',
 'Location',
 'By',
 'Technical Intervention Report Ref:',
 'Type of release',
 'EASA F1  Cert. No.',
 'EQE',
 'Standard time',
 'TAT',
 'Delta',
 'Remark',
 'Work File Ref',
 'Unnamed: 24',
 'Staff',
 'status ',
 'Invoiced? Y/N',
 'Invoice No.',
 'Promised Date to the customer',
 'No.',
 'Noria Y/N',
 'Warranty Y/N',
 'Scheduled/Unscheduled/AOG']

In [4]:
df.isna().sum()

Year                                             0
Mth                                             97
Report number                                  279
Day                                             52
Week No.                                       195
Engine                                          11
Variant                                         18
S/n                                            160
Operator                                        46
Place                                          180
Country                                        146
Brief Description of Technical Intervention     15
Intervention level                              18
Location                                       147
By                                              16
Technical Intervention Report Ref:             174
Type of release                                370
EASA F1  Cert. No.                             272
EQE                                            312
Standard time                                  436
TAT                                            419
Delta                                          417
Remark                                         417
Work File Ref                                  354
Unnamed: 24                                    459
Staff                                          428
status                                         459
Invoiced? Y/N                                  459
Invoice No.                                    444
Promised Date to the customer                  459
No.                                            385
Noria Y/N                                      351
Warranty Y/N                                   351
Scheduled/Unscheduled/AOG                      351
dtype: int64

In [5]:
# Remove specified columns
columns_to_remove = [
    'Report number',
    'Week No.',
    'S/n',
    'Place',
    'Country',
    'Location',
    'Technical Intervention Report Ref:',
    'Type of release',
    'EASA F1  Cert. No.',
    'EQE',
    'Standard time',
    'TAT',
    'Delta',
    'Remark',
    'Work File Ref',
    'Unnamed: 24',
    'Staff',
    'status ',
    'Invoiced? Y/N',
    'Invoice No.',
    'Promised Date to the customer',
    'No.',
    'Noria Y/N',
    'Warranty Y/N',
    'Scheduled/Unscheduled/AOG',
    'Operator'
]

# Drop columns that exist in the dataframe
df = df.drop(columns=[col for col in columns_to_remove if col in df.columns], errors='ignore')

print(f"Remaining columns after removal: {df.columns.tolist()}")
df.head()

Remaining columns after removal: ['Year', 'Mth', 'Day', 'Engine', 'Variant', 'Brief Description of Technical Intervention', 'Intervention level', 'By']

,Year,Mth,Day,Engine,Variant,Brief Description of Technical Intervention,Intervention level,By
0,2013,MARCH,14,Accessories,NaN,HMU,L2,BS
1,2013,MARCH,14,ARRIEL 2,2S2,MODULE 4 & 5 REPLACEMENT,L2,BS
2,2013,MARCH,27,ARRIEL 1,1S1,"TU347,MO5 REPLACEMENT",L3,BS
3,2013,APR,9,Accessories,2D,HMU SLEEVE REPLACEMENT,L2,BS
4,2013,MAY,10,ARRIEL 1,1S1,MODULE 1 REPLACEMENT,L2,BS

In [6]:
df.isna().sum()

Year                                            0
Mth                                            97
Day                                            52
Engine                                         11
Variant                                        18
Brief Description of Technical Intervention    15
Intervention level                             18
By                                             16
dtype: int64

In [7]:
df = df.dropna(subset=['Day'])
df.isna().sum()

Year                                            0
Mth                                            87
Day                                             0
Engine                                          2
Variant                                         6
Brief Description of Technical Intervention     5
Intervention level                              8
By                                              5
dtype: int64

In [8]:
df = df.dropna(subset=['Brief Description of Technical Intervention'])
df.isna().sum()

Year                                            0
Mth                                            86
Day                                             0
Engine                                          0
Variant                                         4
Brief Description of Technical Intervention     0
Intervention level                              3
By                                              0
dtype: int64

In [9]:
df = df.dropna(subset=['Variant'])
df.isna().sum()

Year                                            0
Mth                                            84
Day                                             0
Engine                                          0
Variant                                         0
Brief Description of Technical Intervention     0
Intervention level                              2
By                                              0
dtype: int64

In [10]:
df = df.dropna(subset=['Intervention level'])
df.isna().sum()

Year                                            0
Mth                                            84
Day                                             0
Engine                                          0
Variant                                         0
Brief Description of Technical Intervention     0
Intervention level                              0
By                                              0
dtype: int64

In [11]:
df.shape

(396, 8)

### Split multiple tasks

In [12]:
df['Brief Description of Technical Intervention'].unique().tolist()

['MODULE 4 & 5 REPLACEMENT',
 'TU347,MO5 REPLACEMENT',
 'HMU SLEEVE REPLACEMENT',
 'MODULE 1 REPLACEMENT',
 'MODULE 5 REPLACEMENT',
 'TU 166 APPLICATION',
 'HMU TBO EXTENTION',
 'O RING REPLACEMENT MO5',
 'TU166',
 'MODULE 1 & 5 REPLACEMENT',
 'MODULE 3 REPLACEMENT',
 'TU347',
 'MODULE 2/3 REPLACEMENT',
 'MODULE 1/3 REPLACEMENT',
 'POST RENTAL INSPECTION',
 'MODULE 4 REPLACEMENT',
 'MODULE 1,4 AND 5 REPLACEMENT',
 'LIGHTNING STRIKE INSPECTION',
 'MODULE 1 OIL DRIP',
 'NFT SEALOL SEAL REPLACEMENT',
 'REPLACEMENT MODULE 1',
 'MODULE 1 INSPECTION',
 'MO1 VIBRATION CHECK',
 'MO2 REPLACEMENT ',
 'TU 347 & SELOL SEAL CHANGE',
 'COPPER SEAL CHANGE',
 'HMU SN1424 APPL SB 292 73 2836',
 'TU 347 + TU 360',
 'TU 357',
 'MO2 Replaced ',
 'S/E M01',
 'S/E M01, 03',
 'S/E M01, 02 and 03',
 'M02 REMOVAL',
 'KANBAN REPORT',
 'Engine inspection',
 'Bleed valve inspection',
 'MSB 292 72 2861',
 'S/E MO2 & HMU installation',
 'SUPERVISION',
 'TECHNICAL REPORT',
 'Application TU 81 DECU SN 783',
 'Application TU 81 DECU SN 701',
 'Application TU 81 DECU SN 560',
 'Application TU 81 DECU SN 609',
 'Application TU 81 SPARE DECU SN 784',
 'S/E MO2 & 150h, 500h & 600h inspection',
 'Application TU 81 DECU SN 908',
 'Application TU 81 DECU SN 522',
 'Application TU 81 DECU SN 543',
 'Application TU 81 DECU SN 732',
 'Application TU 81 DECU SN 789',
 'Application TU 81 DECU SN 929',
 'Application TU 81 DECU SN 760',
 'Application TU 81 DECU SN 765',
 'Application TU 81 DECU SN 512',
 'Application TU 81 DECU SN 930',
 'Borescope Inspection',
 'MOD 2 INSTALLATION',
 '500 HRS INSPECTION',
 'Support borescope Inspection',
 'KANBAN',
 'CERTIFICATION OF F.C.U',
 'INSTALLATION OF F.C.U',
 'MOD 2 Replacement',
 'PIR',
 'REPLACEMENT MO2',
 'POST RENTAL CHECK',
 'MO3 REPLACEMENT',
 'Supervision scheduled inspection',
 'MO2 REPLACEMENT',
 'Vibration chk',
 'SB POST TU 347',
 'MO2,MO3 7 TU198',
 'INSPECTION OF MO2',
 'Engine Inspection',
 'Boroscope inspection',
 'REMOVAL FCU  SN 36069, REPLACEMENT front firewall module 01',
 'COMPRESSOR COVER REPLACEMENT',
 'TU 347 & TU 377',
 'PIR MO2 SN1297',
 'MO1 MAG SEAL REPLACEMENT',
 'Module 03 Replacement',
 'PIR ',
 'ASSESSMENT OF ENGINE',
 'MO3 replacement',
 'Mag Seal',
 'Helicoil',
 'Borescope',
 'HMU Installation',
 'Installation HMU',
 'TEST OF VISUAL BLOCKAGE INDICATOR',
 'STANDART EXCHANGE MO3',
 'STANDART EXCHANGE MO2',
 'ASSESMENT OF ENGINE',
 'PT BLADE REPLACEMENT',
 'TF 90',
 'TF91',
 'TF90',
 'POST RENTAL CHK',
 'SB application',
 'Installation of the HMU',
 'INSTALLATION OF MODULE 1',
 'REAR BEARING CLEANING',
 'TEST OF THE VISUAL BLOCKAGE INDICATOR',
 'SCHEDULE INSP,FCU REPLACEMENT,OVSP DRAIN VALVE AND TU 374',
 'SCHEDULE INSP, FCU REPLACEMENT, OVSP DRAIN VALVE AND TU 374',
 'MO3 Replacement (planned on 29th June but start on 14th July)',
 'FCU Installation',
 'PT NGV REPLACEMENT',
 'BORESCOPE INSPECTION',
 'REPLACEMENT MAGNETIC SEAL',
 'INSTALLATION OF FCU',
 'MODULE REPLACEMENT',
 'MO2 PIR',
 'CAAM F1 AMENDMENT',
 'INSPECTION OF 3 HOLLOW STRUT',
 'OEI COUNTER RESET',
 'MODULE 2 & 3 REPLACEMENT',
 'FCU REPLACEMNET',
 'REPLACEMENT OF BULKHEAD ASSY ESN 2411',
 '1. REPLACEMENT OF BULKHEAD ASSY ESN 2411.\n\n2. REMOVAL/INSTALLATION OF OUTPUT SEAL ESN 2411.',
 'MODULE 2 REPAIR',
 'Finding engine beyond GTA capability & will be send for Level 4 or overhaul repair.',
 'Engine Preservation',
 'EXTERNAL & INTERNAL INSPECTION',
 'CARRIED OUT MSB 292 72 2861',
 'MODULE  MO2 REPLACEMENT',
 'MODULE 1 REPLACEMENET',
 'OIL PUMP REMOVAL',
 'ADJUSTED VALVE ASSY REMOVAL',
 'BORESCOPE INSPECTION & VIBRATION TEST',
 'REPLACEMENT OF THREAD INSERT',
 'Rear Bearing Cleaning & Replacement of M01 Magnetic Seal',
 'ARRIEL 2C ESN: 24432,  MO3 S/N 8425 Calender Restoration.',
 'ARRIEL 2C ESN: 24433, MO3 S/N 8426 Calender Restoration.',
 'Borescope inspection report with release EASA Form 1',
 'Receiving Inspection & Preservation',
 'Swap of engine box between 5033 and 5034',
 'HMU Visual inspection and to re-certify under CAAM',
 'ENGINE RECEIVING INSPECTION & REQUIRE PRESERVATION',
 'Inspection on M04 & M05',
 'HP Pump Replacement',
 'RECEIVING & BORESCOPE INSPECTION',
 'M03 & M04 Replacement, Drain valve & FCU P2 Chamber Inspection',
 'M03 Borescope Inspection',
 'Remove engine from container and transfer engine stand',
 'Schedule inspection 1200FH & 3 years Inspection',
 'Transfer box and preservation',
 '1. To carry out 1200FH & 3 years schedule inspection as per task 05-20-10-201-865-A01 (Refer : SO-005020 / SO-005127)\n\n2. To carry out the removal of HMU S/N1234 and the installation of HMU S/N1050 as per task 73-25-00-900-801-A01. (Refer : SO-005020 / SO-005127)\n\n3. To carry out borescope inspection as per task 72-00-54-200-804-A01, 72-00-54-200-801-A01, 72-00-43-200-815-A01, 72-00-43-200-813-A01,  72-00-43-200-812-A01, 72-00-43-200-811-A01, 72-00-43-200-810-A01, 72-00-43-200-809-A01, 72-00-43-200-808-A01, 72-00-43-200-807-A01, 72-00-43-200-806-A01, 72-00-43-200-805-A01, 72-00-43-200-804-A01 & 72-00-43-200-803-A01. (Refer : SO-005020 / SO-005127)\n\n4. To carry out SB 298792087 Ver. B dated 5 Oct 2017. (Refer : SO-005020 / SO-005127 V1)\n\n5. To carry out repair as per Engineering Services Instruction (ESI) ESI/MAKILA2A1/757 R1 and to observe and comply with condition of CAAM approval of Design of Minor Repair REP/A/2025/001. Other related documentation is Safran Helicopter Engine Technical Agreement TA 2180546. ',
 'Replacement of M02',
 'PIR M02',
 '1. To carry out 1200FH & 3 years schedule inspection\n\n2. Carry out the installation of HMU S/N 1186 \n\n3. Carry out borescope inspection.\n\n4. To carry out SB 298792087 ',
 'Receiving Inspection, BSI & Eng. Preservation',
 '1. To carry out 600FH Schedule Inspection as per task 05-20-10-201-850-A01.\n\n2. To carry out engine preservations as per task 71-05-01-551-804-A01.',
 '1. To carry out 1200FH & 3 years schedule inspection as per task 05-20-10-201-865-A01.\n\n2. To carry out the installation of HMU S/N: 1234 as per task 73-25-00-900-801-A01.\n\n3. To carry out borescope inspection as per task 72-00-54-200-804-A01, 72-00-54-200-801-A01, 72-00-43-200-815-A01, 72-00-43-200-813-A01, 72-00-43-200-812-A01, 72-00-43-200-811-A01, 72-00-43-200-810-A01, 72-00-43-200-809-A01, 72-00-43-200-808-A01, 72-00-43-200-807-A01, 72-00-43-200-806-A01, 72-00-43-200-805-A01, 72-00-43-200-804-A01 & 72-00-43-200-803-A01. \n\n4. To carry out SB 298 79 2087 (Addition of a lubrication pipe bracket of the gas-generator rear bearing) Version B Dated 05 Oct 2017\n\n5. To carry out SB 298 73 2097 (Adjusted valve assembly - Reinforcement of the attachment of the bosses of the fire protection box of the valve assembly) Version A Dated 18 Jul 2022',
 'Cycle Counters Update',
 'Pre Induction report',
 'PRE INDUCTION REPORT',
 'Pre Induction report MO2, S/N: 20514',
 'Pre Induction report MO3, S/N: 26491',
 'Pre Induction report MAKILA 2A1, ESN13003',
 'EECU Reset']

In [13]:
import re
import pandas as pd

# List of phrases that contain separators (&, +, /) but should NOT be split
PROTECTED_PHRASES = [
    "Schedule inspection 1200FH & 3 years Inspection",
    "Finding engine beyond GTA capability & will be send for Level 4 or overhaul repair",
    "Swap of engine box between 5033 and 5034",
    "Transfer box and preservation",
    "Pre Induction report MO2, SERIAL NUMBER: 20514",
    "Pre Induction report MO3, SERIAL NUMBER: 26491",
    "MO3 SERIAL NUMBER 8425 Calender Restoration.",
    "MO3 SERIAL NUMBER 8426 Calender Restoration.",
    "Pre Induction report MAKILA 2A1, ESN13003",

]   

def split_tasks(text):
    if not isinstance(text, str):
        return []

    # Standardize S/E and S/N first
    text = re.sub(r'\bS/E\b', 'STANDARD EXCHANGE', text)
    text = re.sub(r'\bS/N\b', 'SERIAL NUMBER', text)

    # Remove leading engine references (e.g. "ARRIEL 2C ESN: 24433,")
    # These are not tasks â€” just engine identifiers prepended to the actual task
    text = re.sub(r'^ARRIEL\s+\w+\s+ESN[:\s]*\d+\s*,\s*', '', text, flags=re.IGNORECASE)

    # Protect "Do Not Split" phrases
    # We replace spaces/symbols in protected phrases with a safe placeholder
    for phrase in PROTECTED_PHRASES:
        if phrase in text:
            # Create a placeholder version (spaces to underscores, remove split chars later)
            placeholder = phrase.replace(" ", "___SPACE___").replace("&", "___AND___").replace(",", "___COMMA___")
            text = text.replace(phrase, placeholder)

    # Check for numbered list pattern
    # Pattern looks for: Start of line OR space, followed by Digit(s), a Dot, and a Space
    number_pattern = r'(?:^|\s)\d+\.\s+'
    
    tasks = []
    
    # If we find "1. " or " 2. " etc., we use ONLY this to split
    if re.search(number_pattern, text):
        raw_tasks = re.split(number_pattern, text)
        tasks = [t.strip() for t in raw_tasks if t.strip()]
        
    # No numbered pattern found
    else:
        # Proceed with normal splitting rules
        # Convert symbols to common delimiter (comma)
        text = text.replace('&', ', ').replace(' + ', ', ').replace('/', ', ')
        text = re.sub(r'\s+AND\s+', ', ', text, flags=re.IGNORECASE)
        text = re.sub(r'\s+and\s+', ', ', text, flags=re.IGNORECASE)
        
        # Split by comma
        tasks = [t.strip() for t in text.split(',') if t.strip()]
    
    # Restore Protected Phrases
    final_tasks = []
    for t in tasks:
        t = t.replace("___SPACE___", " ").replace("___AND___", "&").replace("___COMMA___", ",")
        final_tasks.append(t)
        
    return final_tasks

# Apply splitting
print("Splitting tasks...")
task_lists = df['Brief Description of Technical Intervention'].apply(split_tasks)

# Find max number of tasks needed
max_tasks = task_lists.apply(len).max()
print(f"Maximum number of tasks found: {max_tasks}")

# Create Task columns
for i in range(max_tasks):
    df[f'Task_{i+1}'] = task_lists.apply(lambda x: x[i] if i < len(x) else None)

print("Splitting complete. Task columns created.")
df.head()

# Display specific examples to verify
cols_to_show = ['Brief Description of Technical Intervention'] + [f'Task_{i+1}' for i in range(min(4, max_tasks))]
print(df[cols_to_show].tail(50))

output_filename = 'technical_intervention_split.xlsx'
df[cols_to_show].to_excel(output_filename, index=False)
print(f"Success! Data saved to {output_filename}")

Splitting tasks...
Maximum number of tasks found: 6
Splitting complete. Task columns created.
           Brief Description of Technical Intervention  \
405                                                PIR
406                                                PIR
407                                                PIR
408                                                PIR
409                   RECEIVING & BORESCOPE INSPECTION
410                   RECEIVING & BORESCOPE INSPECTION
411  M03 & M04 Replacement, Drain valve & FCU P2 Ch...
412                           M03 Borescope Inspection
413  Remove engine from container and transfer engi...
414    Schedule inspection 1200FH & 3 years Inspection
415                      Transfer box and preservation
416  1. To carry out 1200FH & 3 years schedule insp...
417                                 Replacement of M02
418                                            PIR M02
419                                            PIR M02
420  1. To carry out 1200FH & 3 years schedule insp...
421      Receiving Inspection, BSI & Eng. Preservation
422      Receiving Inspection, BSI & Eng. Preservation
423      Receiving Inspection, BSI & Eng. Preservation
424      Receiving Inspection, BSI & Eng. Preservation
425      Receiving Inspection, BSI & Eng. Preservation
426  1. To carry out 600FH Schedule Inspection as p...
428  1. To carry out 1200FH & 3 years schedule insp...
429                              Cycle Counters Update
430                               Pre Induction report
431                               Pre Induction report
432                               Pre Induction report
433                               Pre Induction report
434                               Pre Induction report
435                               Pre Induction report
436                               Pre Induction report
437                               Pre Induction report
438                               Pre Induction report
439                               Pre Induction report
440                               PRE INDUCTION REPORT
441               Pre Induction report MO2, S/N: 20514
442               Pre Induction report MO3, S/N: 26491
443          Pre Induction report MAKILA 2A1, ESN13003
444                               Pre Induction report
445                               Pre Induction report
446                               Pre Induction report
447                                         EECU Reset
448                               Pre Induction report
449                               Pre Induction report
450                                         EECU Reset
451                                         EECU Reset
452                               Pre Induction report
453                               Pre Induction report
454                               Pre Induction report
455                   RECEIVING & BORESCOPE INSPECTION

                                                Task_1  \
405                                                PIR
406                                                PIR
407                                                PIR
408                                                PIR
409                                          RECEIVING
410                                          RECEIVING
411                                                M03
412                           M03 Borescope Inspection
413                       Remove engine from container
414    Schedule inspection 1200FH & 3 years Inspection
415                      Transfer box and preservation
416  To carry out 1200FH & 3 years schedule inspect...
417                                 Replacement of M02
418                                            PIR M02
419                                            PIR M02
420  To carry out 1200FH & 3 years schedule inspection
421                               Receiving Inspection
422                               Receiving Inspection
423                               Receiving Inspection
424                               Receiving Inspection
425                               Receiving Inspection
426  To carry out 600FH Schedule Inspection as per ...
428  To carry out 1200FH & 3 years schedule inspect...
429                              Cycle Counters Update
430                               Pre Induction report
431                               Pre Induction report
432                               Pre Induction report
433                               Pre Induction report
434                               Pre Induction report
435                               Pre Induction report
436                               Pre Induction report
437                               Pre Induction report
438                               Pre Induction report
439                               Pre Induction report
440                               PRE INDUCTION REPORT
441     Pre Induction report MO2, SERIAL NUMBER: 20514
442     Pre Induction report MO3, SERIAL NUMBER: 26491
443          Pre Induction report MAKILA 2A1, ESN13003
444                               Pre Induction report
445                               Pre Induction report
446                               Pre Induction report
447                                         EECU Reset
448                               Pre Induction report
449                               Pre Induction report
450                                         EECU Reset
451                                         EECU Reset
452                               Pre Induction report
453                               Pre Induction report
454                               Pre Induction report
455                                          RECEIVING

                                                Task_2  \
405                                               None
406                                               None
407                                               None
408                                               None
409                               BORESCOPE INSPECTION
410                               BORESCOPE INSPECTION
411                                    M04 Replacement
412                                               None
413                              transfer engine stand
414                                               None
415                                               None
416  To carry out the removal of HMU S/N1234 and th...
417                                               None
418                                               None
419                                               None
420  Carry out the installation of HMU SERIAL NUMBE...
421                                                BSI
422                                                BSI
423                                                BSI
424                                                BSI
425                                                BSI
426  To carry out engine preservations as per task ...
428  To carry out the installation of HMU SERIAL NU...
429                                               None
430                                               None
431                                               None
432                                               None
433                                               None
434                                               None
435                                               None
436                                               None
437                                               None
438                                               None
439                                               None
440                                               None
441                                               None
442                                               None
443                                               None
444                                               None
445                                               None
446                                               None
447                                               None
448                                               None
449                                               None
450                                               None
451                                               None
452                                               None
453                                               None
454                                               None
455                               BORESCOPE INSPECTION

                                                Task_3  \
405                                               None
406                                               None
407                                               None
408                                               None
409                                               None
410                                               None
411                                        Drain valve
412                                               None
413                                               None
414                                               None
415                                               None
416  To carry out borescope inspection as per task ...
417                                               None
418                                               None
419                                               None
420                    Carry out borescope inspection.
421                                  Eng. Preservation
422                                  Eng. Preservation
423                                  Eng. Preservation
424                                  Eng. Preservation
425                                  Eng. Preservation
426                                               None
428  To carry out borescope inspection as per task ...
429                                               None
430                                               None
431                                               None
432                                               None
433                                               None
434                                               None
435                                               None
436                                               None
437                                               None
438                                               None
439                                               None
440                                               None
441                                               None
442                                               None
443                                               None
444                                               None
445                                               None
446                                               None
447                                               None
448                                               None
449                                               None
450                                               None
451                                               None
452                                               None
453                                               None
454                                               None
455                                               None

                                                Task_4
405                                               None
406                                               None
407                                               None
408                                               None
409                                               None
410                                               None
411                          FCU P2 Chamber Inspection
412                                               None
413                                               None
414                                               None
415                                               None
416       To carry out SB 298792087 Ver. B dated 5 Oct
417                                               None
418                                               None
419                                               None
420                          To carry out SB 298792087
421                                               None
422                                               None
423                                               None
424                                               None
425                                               None
426                                               None
428  To carry out SB 298 79 2087 (Addition of a lub...
429                                               None
430                                               None
431                                               None
432                                               None
433                                               None
434                                               None
435                                               None
436                                               None
437                                               None
438                                               None
439                                               None
440                                               None
441                                               None
442                                               None
443                                               None
444                                               None
445                                               None
446                                               None
447                                               None
448                                               None
449                                               None
450                                               None
451                                               None
452                                               None
453                                               None
454                                               None
455                                               None
Success! Data saved to technical_intervention_split.xlsx

### Standardize Task 1

In [14]:
df['Task_1'].unique().tolist()

['MODULE 4',
 'TU347',
 'HMU SLEEVE REPLACEMENT',
 'MODULE 1 REPLACEMENT',
 'MODULE 5 REPLACEMENT',
 'TU 166 APPLICATION',
 'HMU TBO EXTENTION',
 'O RING REPLACEMENT MO5',
 'TU166',
 'MODULE 1',
 'MODULE 3 REPLACEMENT',
 'MODULE 2',
 'POST RENTAL INSPECTION',
 'MODULE 4 REPLACEMENT',
 'LIGHTNING STRIKE INSPECTION',
 'MODULE 1 OIL DRIP',
 'NFT SEALOL SEAL REPLACEMENT',
 'REPLACEMENT MODULE 1',
 'MODULE 1 INSPECTION',
 'MO1 VIBRATION CHECK',
 'MO2 REPLACEMENT',
 'TU 347',
 'COPPER SEAL CHANGE',
 'HMU SN1424 APPL SB 292 73 2836',
 'TU 357',
 'MO2 Replaced',
 'STANDARD EXCHANGE M01',
 'M02 REMOVAL',
 'KANBAN REPORT',
 'Engine inspection',
 'Bleed valve inspection',
 'MSB 292 72 2861',
 'STANDARD EXCHANGE MO2',
 'SUPERVISION',
 'TECHNICAL REPORT',
 'Application TU 81 DECU SN 783',
 'Application TU 81 DECU SN 701',
 'Application TU 81 DECU SN 560',
 'Application TU 81 DECU SN 609',
 'Application TU 81 SPARE DECU SN 784',
 'Application TU 81 DECU SN 908',
 'Application TU 81 DECU SN 522',
 'Application TU 81 DECU SN 543',
 'Application TU 81 DECU SN 732',
 'Application TU 81 DECU SN 789',
 'Application TU 81 DECU SN 929',
 'Application TU 81 DECU SN 760',
 'Application TU 81 DECU SN 765',
 'Application TU 81 DECU SN 512',
 'Application TU 81 DECU SN 930',
 'Borescope Inspection',
 'MOD 2 INSTALLATION',
 '500 HRS INSPECTION',
 'Support borescope Inspection',
 'KANBAN',
 'CERTIFICATION OF F.C.U',
 'INSTALLATION OF F.C.U',
 'MOD 2 Replacement',
 'PIR',
 'REPLACEMENT MO2',
 'POST RENTAL CHECK',
 'MO3 REPLACEMENT',
 'Supervision scheduled inspection',
 'Vibration chk',
 'SB POST TU 347',
 'MO2',
 'INSPECTION OF MO2',
 'Engine Inspection',
 'Boroscope inspection',
 'REMOVAL FCU  SN 36069',
 'COMPRESSOR COVER REPLACEMENT',
 'PIR MO2 SN1297',
 'MO1 MAG SEAL REPLACEMENT',
 'Module 03 Replacement',
 'ASSESSMENT OF ENGINE',
 'MO3 replacement',
 'Mag Seal',
 'Helicoil',
 'Borescope',
 'HMU Installation',
 'Installation HMU',
 'TEST OF VISUAL BLOCKAGE INDICATOR',
 'STANDART EXCHANGE MO3',
 'STANDART EXCHANGE MO2',
 'ASSESMENT OF ENGINE',
 'PT BLADE REPLACEMENT',
 'TF 90',
 'TF91',
 'TF90',
 'POST RENTAL CHK',
 'SB application',
 'Installation of the HMU',
 'INSTALLATION OF MODULE 1',
 'REAR BEARING CLEANING',
 'TEST OF THE VISUAL BLOCKAGE INDICATOR',
 'SCHEDULE INSP',
 'MO3 Replacement (planned on 29th June but start on 14th July)',
 'FCU Installation',
 'PT NGV REPLACEMENT',
 'BORESCOPE INSPECTION',
 'REPLACEMENT MAGNETIC SEAL',
 'INSTALLATION OF FCU',
 'MODULE REPLACEMENT',
 'MO2 PIR',
 'CAAM F1 AMENDMENT',
 'INSPECTION OF 3 HOLLOW STRUT',
 'OEI COUNTER RESET',
 'FCU REPLACEMNET',
 'REPLACEMENT OF BULKHEAD ASSY ESN 2411',
 'REPLACEMENT OF BULKHEAD ASSY ESN',
 'MODULE 2 REPAIR',
 'Finding engine beyond GTA capability & will be send for Level 4 or overhaul repair.',
 'Engine Preservation',
 'EXTERNAL',
 'CARRIED OUT MSB 292 72 2861',
 'MODULE  MO2 REPLACEMENT',
 'MODULE 1 REPLACEMENET',
 'OIL PUMP REMOVAL',
 'ADJUSTED VALVE ASSY REMOVAL',
 'REPLACEMENT OF THREAD INSERT',
 'Rear Bearing Cleaning',
 'MO3 SERIAL NUMBER 8425 Calender Restoration.',
 'MO3 SERIAL NUMBER 8426 Calender Restoration.',
 'Borescope inspection report with release EASA Form 1',
 'Receiving Inspection',
 'Swap of engine box between 5033 and 5034',
 'HMU Visual inspection',
 'ENGINE RECEIVING INSPECTION',
 'Inspection on M04',
 'HP Pump Replacement',
 'RECEIVING',
 'M03',
 'M03 Borescope Inspection',
 'Remove engine from container',
 'Schedule inspection 1200FH & 3 years Inspection',
 'Transfer box and preservation',
 'To carry out 1200FH & 3 years schedule inspection as per task 05-20-10-201-865-A01 (Refer : SO-005020 / SO-005127)',
 'Replacement of M02',
 'PIR M02',
 'To carry out 1200FH & 3 years schedule inspection',
 'To carry out 600FH Schedule Inspection as per task 05-20-10-201-850-A01.',
 'To carry out 1200FH & 3 years schedule inspection as per task 05-20-10-201-865-A01.',
 'Cycle Counters Update',
 'Pre Induction report',
 'PRE INDUCTION REPORT',
 'Pre Induction report MO2, SERIAL NUMBER: 20514',
 'Pre Induction report MO3, SERIAL NUMBER: 26491',
 'Pre Induction report MAKILA 2A1, ESN13003',
 'EECU Reset']

In [15]:
import re
import pandas as pd

def standardize_task1(row):
    """
    Standardizes Task_1 based on its own text AND the original description.
    """
        
    task_text = str(row['Task_1'])
    original_desc = str(row['Brief Description of Technical Intervention'])
    
    # Convert to upper case and strip whitespace
    text = task_text.upper().strip()
    orig_upper = original_desc.upper()
    
    # Basic typo corrections
    text = re.sub(r'\bREPLACEMNET\b', 'REPLACEMENT', text)
    text = re.sub(r'\bREPLACEMENET\b', 'REPLACEMENT', text)
    text = re.sub(r'\bREPLACED\b', 'REPLACEMENT', text)
    text = re.sub(r'\bSTANDART\b', 'STANDARD', text)
    text = re.sub(r'\bASSESMENT\b', 'ASSESSMENT', text)
    text = re.sub(r'\bCHK\b', 'CHECK', text)
    text = re.sub(r'\bINSP\b', 'INSPECTION', text)
    text = re.sub(r'\bBOROSCOPE\b', 'BORESCOPE', text)
    text = re.sub(r'\bF\.C\.U\b', 'FCU', text)
    
    # Remove "CARRIED OUT", "SUPPORT", and "THE" in specific contexts
    text = re.sub(r'\bCARRIED\s+OUT\b', '', text)
    text = re.sub(r'\bSUPPORT\b', '', text)
    text = text.replace("TEST OF THE ", "TEST OF ")

    # TU 81 Rule
    text = re.sub(r'APPLICATION\s+TU\s*81\s+(?:SPARE\s+)?DECU\s+SN\s*\d+', 'TU 81', text)
    
    # Handle Receiving Inspection variations
    text = re.sub(r'\bENGINE\s+RECEIVING\s+INSPECTION\b', 'ENGINE INSPECTION', text)
    text = re.sub(r'\bRECEIVING\s+INSPECTION\b', 'ENGINE INSPECTION', text)
    
    # Keyword mapping
    if text == "RECEIVING":
        text = "ENGINE INSPECTION"
        
    if text == "KANBAN":
        text = "KANBAN REPORT"
        
    if text == "SUPERVISION":
        text = "SCHEDULE INSPECTION"
        
    if text == "EXTERNAL":
        text = "EXTERNAL INSPECTION"

    # TU / TF STANDARDIZATION
    text = re.sub(r'\b(TU|TF)\s*(\d+)(?:\s+APPLICATION)?\b', r'\1 \2', text)

    # MODULE STANDARDIZATION
    text = re.sub(r'\bMODULE\s+0?(\d)\b', r'MO\1', text) 
    text = re.sub(r'\bMOD\s+0?(\d)\b', r'MO\1', text)
    text = re.sub(r'\bM0(\d)\b', r'MO\1', text)
    text = re.sub(r'\bMODULE\s+(MO\d+)\b', r'\1', text)

    # REPLACEMENT / INSTALLATION PATTERNS
    text = re.sub(r'^REPLACEMENT\s+(MO\d+)$', r'\1 REPLACEMENT', text)

    text = text.replace("INSTALLATION OF THE ", "INSTALLATION OF ")
    text = text.replace("INSTALLATION HMU", "HMU INSTALLATION ")

    flip_pattern = r'\b(CERTIFICATION|INSTALLATION|INSPECTION|REPLACEMENT)\s+(?:OF|ON)\s+(.+)'
    match = re.search(flip_pattern, text)
    if match:
        action = match.group(1)
        obj = match.group(2)
        text = f"{obj} {action}"

    # SPECIFIC TEXT REPLACEMENTS
    if "PRE INDUCTION REPORT" in text:
        text = "PIR"
    text = re.sub(r'^PRE\s+INDUCTION\s+REPORT', 'PIR', text)
    
    # PIR Cleanup: "PIR MO2" -> "PIR"
    text = re.sub(r'\bPIR\s+MO\d+\b', 'PIR', text)

    # MAG SEAL
    text = re.sub(r'\bREPLACEMENT\s+MAGNETIC\s+SEAL\b', 'MAG SEAL REPLACEMENT', text)
    if text == "MAG SEAL":
        text = "MAG SEAL REPLACEMENT"

    # Mag Seal Cleanup: "MO1 MAG SEAL REPLACEMENT" -> "MAG SEAL REPLACEMENT"
    text = re.sub(r'\bMO\d+\s+(MAG\s+SEAL\s+REPLACEMENT)\b', r'\1', text)

    # Bulkhead
    text = re.sub(r'^REPLACEMENT\s+OF\s+BULKHEAD\s+ASSY\s+ESN\s+(\d+)$', r'BULKHEAD ASSY \1 REPLACEMENT', text)

    # LONG TEXT MAPPING
    if "1200FH" in text and "SCHEDULE INSPECTION" in text:
        text = "SCHEDULE INSPECTION 1200FH"
    if "600FH" in text and "SCHEDULE INSPECTION" in text:
        text = "SCHEDULE INSPECTION 600FH"

    # GENERAL SN / ESN REMOVAL
    # 1. Removes "ESN 123", "SN 783", "ESN: 24432"
    text = re.sub(r'\b(ESN|SN)[:\s]*\d+\b', '', text)
    
    # CLEANUP (Parentheses)
    text = re.sub(r'\s*\([^)]*PLANNED[^)]*\)', '', text)
    
    # CONTEXTUAL LOGIC
    if text == "MO2" and "7 TU198" in orig_upper:
        text = "MO2 7 TU 198"

    is_module_only = re.match(r'^MO\d+$', text)
    if is_module_only:
        if "7 TU198" not in orig_upper:
            text = f"{text} REPLACEMENT"
    
    # Clean up extra spaces before running checks
    text = re.sub(r'\s+', ' ', text).strip()

    # MO1 VIBRATION CHECK / MO3 BORESCOPE INSPECTION -> Remove the MO prefix
    text = re.sub(r'\bMO\d+\s+(VIBRATION\s+CHECK|BORESCOPE\s+INSPECTION)\b', r'\1', text)

    # BORESCOPE Rules
    # If text is exactly "BORESCOPE" -> "BORESCOPE INSPECTION"
    if text == "BORESCOPE":
        text = "BORESCOPE INSPECTION"
    
    # MO2 PIR -> PIR 
    text = re.sub(r'\bMO\d+\s+PIR\b', 'PIR', text)

    # SUPERVISION SCHEDULED INSPECTION -> SCHEDULED INSPECTION
    text = text.replace("SUPERVISION SCHEDULED INSPECTION", "SCHEDULE INSPECTION")
    
    # POST RENTAL CHECK -> POST RENTAL INSPECTION
    text = text.replace("POST RENTAL CHECK", "POST RENTAL INSPECTION")

    # O RING REPLACEMENT MO5 -> MO5 REPLACEMENT
    if "O RING REPLACEMENT" in text and "MO5" in text:
        text = "MO5 REPLACEMENT"

    # BULKHEAD ASSY ESN REPLACEMENT -> Remove dangling "ESN"
    # This catches "ESN" if it appears as a standalone word (without digits)
    text = re.sub(r'\bESN\b', '', text)

    # Remove Serial Numbers: "ESN 2411", "S/N1234", "SERIAL NUMBER 1186", "SERIAL NUMBER: 1234"
    text = re.sub(r'\b(ESN|S/N|SERIAL\s+NUMBER)[:\s]*\d+', '', text)

    # Fix Typos
    text = text.replace("CALENDER", "CALENDAR")

    # Final trim
    text = re.sub(r'\s+', ' ', text).strip()
    # Remove trailing periods
    text = text.rstrip('.')

    return text

# EXECUTE STANDARDIZATION
print("Standardizing Task_1...")
# Apply standardization to Task_1 using axis=1
df['Task_1'] = df.apply(standardize_task1, axis=1)

# Display Results
cols_to_show = ['Brief Description of Technical Intervention', 'Task_1', 'Task_2', 'Task_3', 'Task_4', 'Task_5', 'Task_6']
print(df[cols_to_show].head(30))

Standardizing Task_1...
   Brief Description of Technical Intervention                       Task_1  \
1                     MODULE 4 & 5 REPLACEMENT              MO4 REPLACEMENT
2                        TU347,MO5 REPLACEMENT                       TU 347
3                       HMU SLEEVE REPLACEMENT       HMU SLEEVE REPLACEMENT
4                         MODULE 1 REPLACEMENT              MO1 REPLACEMENT
5                         MODULE 5 REPLACEMENT              MO5 REPLACEMENT
6                           TU 166 APPLICATION                       TU 166
7                           TU 166 APPLICATION                       TU 166
8                            HMU TBO EXTENTION            HMU TBO EXTENTION
9                       O RING REPLACEMENT MO5              MO5 REPLACEMENT
10                                       TU166                       TU 166
11                    MODULE 1 & 5 REPLACEMENT              MO1 REPLACEMENT
12                      HMU SLEEVE REPLACEMENT       HMU SLEEVE REPLACEMENT
13                        MODULE 3 REPLACEMENT              MO3 REPLACEMENT
14                        MODULE 3 REPLACEMENT              MO3 REPLACEMENT
15                        MODULE 1 REPLACEMENT              MO1 REPLACEMENT
16                                       TU347                       TU 347
17                                       TU347                       TU 347
18                      MODULE 2/3 REPLACEMENT              MO2 REPLACEMENT
19                      MODULE 1/3 REPLACEMENT              MO1 REPLACEMENT
20                      POST RENTAL INSPECTION       POST RENTAL INSPECTION
21                        MODULE 4 REPLACEMENT              MO4 REPLACEMENT
22                MODULE 1,4 AND 5 REPLACEMENT              MO1 REPLACEMENT
23                      POST RENTAL INSPECTION       POST RENTAL INSPECTION
24                      HMU SLEEVE REPLACEMENT       HMU SLEEVE REPLACEMENT
25                 LIGHTNING STRIKE INSPECTION  LIGHTNING STRIKE INSPECTION
26                           MODULE 1 OIL DRIP                 MO1 OIL DRIP
27                 LIGHTNING STRIKE INSPECTION  LIGHTNING STRIKE INSPECTION
28                        MODULE 3 REPLACEMENT              MO3 REPLACEMENT
29                 NFT SEALOL SEAL REPLACEMENT  NFT SEALOL SEAL REPLACEMENT
30                        MODULE 3 REPLACEMENT              MO3 REPLACEMENT

             Task_2         Task_3 Task_4 Task_5 Task_6
1     5 REPLACEMENT           None   None   None   None
2   MO5 REPLACEMENT           None   None   None   None
3              None           None   None   None   None
4              None           None   None   None   None
5              None           None   None   None   None
6              None           None   None   None   None
7              None           None   None   None   None
8              None           None   None   None   None
9              None           None   None   None   None
10             None           None   None   None   None
11    5 REPLACEMENT           None   None   None   None
12             None           None   None   None   None
13             None           None   None   None   None
14             None           None   None   None   None
15             None           None   None   None   None
16             None           None   None   None   None
17             None           None   None   None   None
18    3 REPLACEMENT           None   None   None   None
19    3 REPLACEMENT           None   None   None   None
20             None           None   None   None   None
21             None           None   None   None   None
22                4  5 REPLACEMENT   None   None   None
23             None           None   None   None   None
24             None           None   None   None   None
25             None           None   None   None   None
26             None           None   None   None   None
27             None           None   None   None   None
28             None           None   None   None   None
29             None           None   None   None   None
30             None           None   None   None   None

In [16]:
df['Task_1'].unique().tolist()

['MO4 REPLACEMENT',
 'TU 347',
 'HMU SLEEVE REPLACEMENT',
 'MO1 REPLACEMENT',
 'MO5 REPLACEMENT',
 'TU 166',
 'HMU TBO EXTENTION',
 'MO3 REPLACEMENT',
 'MO2 REPLACEMENT',
 'POST RENTAL INSPECTION',
 'LIGHTNING STRIKE INSPECTION',
 'MO1 OIL DRIP',
 'NFT SEALOL SEAL REPLACEMENT',
 'MO1 INSPECTION',
 'VIBRATION CHECK',
 'COPPER SEAL CHANGE',
 'HMU APPL SB 292 73 2836',
 'TU 357',
 'STANDARD EXCHANGE MO1',
 'MO2 REMOVAL',
 'KANBAN REPORT',
 'ENGINE INSPECTION',
 'BLEED VALVE INSPECTION',
 'MSB 292 72 2861',
 'STANDARD EXCHANGE MO2',
 'SCHEDULE INSPECTION',
 'TECHNICAL REPORT',
 'TU 81',
 'BORESCOPE INSPECTION',
 'MO2 INSTALLATION',
 '500 HRS INSPECTION',
 'FCU CERTIFICATION',
 'FCU INSTALLATION',
 'PIR',
 'SB POST TU 347',
 'MO2 7 TU 198',
 'MO2 INSPECTION',
 'REMOVAL FCU',
 'COMPRESSOR COVER REPLACEMENT',
 'MAG SEAL REPLACEMENT',
 'ASSESSMENT OF ENGINE',
 'HELICOIL',
 'HMU INSTALLATION',
 'TEST OF VISUAL BLOCKAGE INDICATOR',
 'STANDARD EXCHANGE MO3',
 'PT BLADE REPLACEMENT',
 'TF 90',
 'TF 91',
 'SB APPLICATION',
 'MO1 INSTALLATION',
 'REAR BEARING CLEANING',
 'PT NGV REPLACEMENT',
 'MODULE REPLACEMENT',
 'CAAM F1 AMENDMENT',
 '3 HOLLOW STRUT INSPECTION',
 'OEI COUNTER RESET',
 'FCU REPLACEMENT',
 'BULKHEAD ASSY REPLACEMENT',
 'MO2 REPAIR',
 'FINDING ENGINE BEYOND GTA CAPABILITY & WILL BE SEND FOR LEVEL 4 OR OVERHAUL REPAIR',
 'ENGINE PRESERVATION',
 'EXTERNAL INSPECTION',
 'OIL PUMP REMOVAL',
 'ADJUSTED VALVE ASSY REMOVAL',
 'THREAD INSERT REPLACEMENT',
 'MO3 CALENDAR RESTORATION',
 'BORESCOPE INSPECTION REPORT WITH RELEASE EASA FORM 1',
 'SWAP OF ENGINE BOX BETWEEN 5033 AND 5034',
 'HMU VISUAL INSPECTION',
 'MO4 INSPECTION',
 'HP PUMP REPLACEMENT',
 'REMOVE ENGINE FROM CONTAINER',
 'SCHEDULE INSPECTION 1200FH',
 'TRANSFER BOX AND PRESERVATION',
 'SCHEDULE INSPECTION 600FH',
 'CYCLE COUNTERS UPDATE',
 'EECU RESET']

### Standardize Task 2

In [17]:
df['Task_2'].unique().tolist()

['5 REPLACEMENT',
 'MO5 REPLACEMENT',
 None,
 '3 REPLACEMENT',
 '4',
 'SELOL SEAL CHANGE',
 'TU 360',
 '03',
 '02',
 'HMU installation',
 '150h',
 'MO3 7 TU198',
 'REPLACEMENT front firewall module 01',
 'TU 377',
 'FCU REPLACEMENT',
 '2. REMOVAL/INSTALLATION OF OUTPUT SEAL ESN 2411.',
 'INTERNAL INSPECTION',
 'VIBRATION TEST',
 'Replacement of M01 Magnetic Seal',
 'Preservation',
 'to re-certify under CAAM',
 'REQUIRE PRESERVATION',
 'M05',
 'BORESCOPE INSPECTION',
 'M04 Replacement',
 'transfer engine stand',
 'To carry out the removal of HMU S/N1234 and the installation of HMU S/N1050 as per task 73-25-00-900-801-A01. (Refer : SO-005020 / SO-005127)',
 'Carry out the installation of HMU SERIAL NUMBER 1186',
 'BSI',
 'To carry out engine preservations as per task 71-05-01-551-804-A01.',
 'To carry out the installation of HMU SERIAL NUMBER: 1234 as per task 73-25-00-900-801-A01.']

In [18]:
import re
import pandas as pd

def standardize_task2_strict(text):
    """
    Standardizes Task_2 based ONLY on the specific rules provided.
    """
    if pd.isna(text):
        return text
    
    # Basic formatting: Upper case & strip whitespace
    text = str(text).upper().strip()
    
    # EXACT MATCHES / SHORT CODES
    if text == "5 REPLACEMENT": return "MO5 REPLACEMENT"
    if text == "3 REPLACEMENT": return "MO3 REPLACEMENT"
    if text == "4": return "MO4 REPLACEMENT"
    if text == "02": return "STANDARD EXCHANGE 02"
    if text == "03": return "STANDARD EXCHANGE 03"
    if text == "150H": return "150H INSPECTION"
    if text == "M05": return "MO5 INSPECTION"
    if text == "M04": return "MO4 REPLACEMENT"
    if text == "M04 REPLACEMENT": return "MO4 REPLACEMENT"
    if text == "BSI": return "BORESCOPE INSPECTION"
    if text == "PRESERVATION": return "ENGINE PRESERVATION"
    if text == "REQUIRE PRESERVATION": return "ENGINE PRESERVATION"
    if text == "VIBRATION TEST": return "VIBRATION CHECK"
    
    # SPECIFIC PHRASE MAPPINGS
    if text == "REPLACEMENT FRONT FIREWALL MODULE 01":
        return "MO1 REPLACEMENT"
    if text == "REPLACEMENT OF M01 MAGNETIC SEAL":
        return "MAG SEAL REPLACEMENT"

    # Remove leading numbering (e.g., "2. ")
    text = re.sub(r'^\d+\.\s*', '', text)
    
    # Remove "To carry out" or "Carry out" or "To" at start
    text = re.sub(r'^(TO\s+)?CARRY\s+OUT\s+', '', text)
    text = re.sub(r'^TO\s+', '', text)

    # Fix Typos
    text = text.replace("CALENDER", "CALENDAR")

    # COMPLEX LOGIC RULES

    # HMU Logic
    # Detect "Removal" AND "Installation" of HMU -> HMU REMOVAL/INSTALLATION
    if "REMOVAL" in text and "INSTALLATION" in text and "HMU" in text:
        return "HMU REMOVAL/INSTALLATION"
    
    # Detect "Installation" of HMU (but not Removal) -> HMU INSTALLATION
    if "INSTALLATION" in text and "HMU" in text and "REMOVAL" not in text:
        return "HMU INSTALLATION"

    # Engine Preservation (Catch long sentences containing 'PRESERVATIONS')
    if "ENGINE PRESERVATIONS" in text:
        return "ENGINE PRESERVATION"

    # Output Seal (Clean specific sentence)
    # "REMOVAL/INSTALLATION OF OUTPUT SEAL ESN..." -> "REMOVAL/INSTALLATION OF OUTPUT SEAL"
    if "REMOVAL/INSTALLATION OF OUTPUT SEAL" in text:
        # We strip ESNs later, so just ensure the core text is right
        pass 

    # Remove Serial Numbers: "ESN 2411", "S/N1234", "SERIAL NUMBER 1186", "SERIAL NUMBER: 1234"
    text = re.sub(r'\b(ESN|S/N|SERIAL\s+NUMBER)[:\s]*\d+', '', text)

    # Remove "AS PER TASK..." and references "(Refer : ...)"
    text = re.sub(r'\s+AS\s+PER\s+TASK.*', '', text)
    text = re.sub(r'\s*\(REFER\s*:.*\)', '', text)

    # Remove extra spaces created by deletions
    text = re.sub(r'\s+', ' ', text).strip()
    # Remove trailing periods
    text = text.rstrip('.')
    
    return text

def split_specific_tasks(row):
    """
    Splits Task_2 into Task_2 and Task_3 ONLY for HMU and OUTPUT SEAL cases.
    """
    t2 = str(row['Task_2'])
    t3 = str(row['Task_3']) # Keep existing Task 3
    
    if pd.isna(row['Task_2']) or row['Task_2'] == 'nan':
        return t2, t3

    # CASE 1: HMU REMOVAL/INSTALLATION
    if t2 == "HMU REMOVAL/INSTALLATION":
        return "HMU REMOVAL", "HMU INSTALLATION"

    # CASE 2: REMOVAL/INSTALLATION OF OUTPUT SEAL
    # Matches "REMOVAL/INSTALLATION OF OUTPUT SEAL"
    if "REMOVAL/INSTALLATION" in t2 and "OUTPUT SEAL" in t2:
        return "OUTPUT SEAL REMOVAL", "OUTPUT SEAL INSTALLATION"

    # Default: Return original values
    return t2, t3

print("1. Standardizing Task_2...")
df['Task_2'] = df['Task_2'].apply(standardize_task2_strict)

print("2. Splitting HMU and Output Seal tasks...")
# Apply the split function row by row and update columns
df[['Task_2', 'Task_3']] = df.apply(lambda row: pd.Series(split_specific_tasks(row)), axis=1)

# Display Results
cols = ['Brief Description of Technical Intervention', 'Task_2', 'Task_3']
print("\nResults Sample:")
print(df[cols].head(20))

# Check specific examples
print("\n--- Specific Check ---")
check_vals = ["HMU REMOVAL/INSTALLATION", "OUTPUT SEAL", "HMU REMOVAL"]
print(df[df['Task_2'].str.contains('|'.join(check_vals), case=False, na=False)][cols])

1. Standardizing Task_2...
2. Splitting HMU and Output Seal tasks...

Results Sample:
   Brief Description of Technical Intervention           Task_2 Task_3
1                     MODULE 4 & 5 REPLACEMENT  MO5 REPLACEMENT   None
2                        TU347,MO5 REPLACEMENT  MO5 REPLACEMENT   None
3                       HMU SLEEVE REPLACEMENT             None   None
4                         MODULE 1 REPLACEMENT             None   None
5                         MODULE 5 REPLACEMENT             None   None
6                           TU 166 APPLICATION             None   None
7                           TU 166 APPLICATION             None   None
8                            HMU TBO EXTENTION             None   None
9                       O RING REPLACEMENT MO5             None   None
10                                       TU166             None   None
11                    MODULE 1 & 5 REPLACEMENT  MO5 REPLACEMENT   None
12                      HMU SLEEVE REPLACEMENT             None   None
13                        MODULE 3 REPLACEMENT             None   None
14                        MODULE 3 REPLACEMENT             None   None
15                        MODULE 1 REPLACEMENT             None   None
16                                       TU347             None   None
17                                       TU347             None   None
18                      MODULE 2/3 REPLACEMENT  MO3 REPLACEMENT   None
19                      MODULE 1/3 REPLACEMENT  MO3 REPLACEMENT   None
20                      POST RENTAL INSPECTION             None   None

--- Specific Check ---
           Brief Description of Technical Intervention               Task_2  \
349  1. REPLACEMENT OF BULKHEAD ASSY ESN 2411.\n\n2...  OUTPUT SEAL REMOVAL
416  1. To carry out 1200FH & 3 years schedule insp...          HMU REMOVAL

                       Task_3
349  OUTPUT SEAL INSTALLATION
416          HMU INSTALLATION

In [19]:
df['Task_2'].unique().tolist()

['MO5 REPLACEMENT',
 'None',
 'MO3 REPLACEMENT',
 'MO4 REPLACEMENT',
 'SELOL SEAL CHANGE',
 'TU 360',
 'STANDARD EXCHANGE 03',
 'STANDARD EXCHANGE 02',
 'HMU INSTALLATION',
 '150H INSPECTION',
 'MO3 7 TU198',
 'MO1 REPLACEMENT',
 'TU 377',
 'FCU REPLACEMENT',
 'OUTPUT SEAL REMOVAL',
 'INTERNAL INSPECTION',
 'VIBRATION CHECK',
 'MAG SEAL REPLACEMENT',
 'ENGINE PRESERVATION',
 'RE-CERTIFY UNDER CAAM',
 'MO5 INSPECTION',
 'BORESCOPE INSPECTION',
 'TRANSFER ENGINE STAND',
 'HMU REMOVAL']

### Standardize Task 3

In [20]:
df['Task_3'].unique().tolist()

['None',
 '5 REPLACEMENT',
 '03',
 '500h',
 'OVSP DRAIN VALVE',
 'OUTPUT SEAL INSTALLATION',
 'Drain valve',
 'HMU INSTALLATION',
 'Carry out borescope inspection.',
 'Eng. Preservation',
 'To carry out borescope inspection as per task 72-00-54-200-804-A01, 72-00-54-200-801-A01, 72-00-43-200-815-A01, 72-00-43-200-813-A01, 72-00-43-200-812-A01, 72-00-43-200-811-A01, 72-00-43-200-810-A01, 72-00-43-200-809-A01, 72-00-43-200-808-A01, 72-00-43-200-807-A01, 72-00-43-200-806-A01, 72-00-43-200-805-A01, 72-00-43-200-804-A01 & 72-00-43-200-803-A01.']

In [21]:
def standardize_task3(text):
    """
    Standardizes Task_2 based ONLY on the specific rules provided.
    """
    if pd.isna(text):
        return text
    
    # Basic formatting: Upper case & strip whitespace
    text = str(text).upper().strip()
    
    # EXACT MATCHES / SHORT CODES
    if text == "5 REPLACEMENT": return "MO5 REPLACEMENT"
    if text == "03": return "STANDARD EXCHANGE 03"
    if text == "500H": return "500H INSPECTION"
    if text == "DRAIN VALVE": return "OVSP DRAIN VALVE"
    if text == "PRESERVATION": return "ENGINE PRESERVATION"
    if text == "REQUIRE PRESERVATION": return "ENGINE PRESERVATION"
    if text == "VIBRATION TEST": return "VIBRATION CHECK"
    if text == "ENG. PRESERVATION": return "ENGINE PRESERVATION"

    if "BORESCOPE INSPECTION" in text:
        return "BORESCOPE INSPECTION"
    
    # Remove extra spaces created by deletions
    text = re.sub(r'\s+', ' ', text).strip()
    # Remove trailing periods
    text = text.rstrip('.')
    
    return text

# Apply standardization to Task_3
print("Standardizing Task_3...")
df['Task_3'] = df['Task_3'].apply(standardize_task3)

# Show unique values to verify
print("\nTask_3 unique values AFTER standardization:")
unique_t3 = sorted([str(t) for t in df['Task_3'].unique() if pd.notna(t) and str(t).strip() != ""])
for task in unique_t3:
    print(f"  - {task}")

Standardizing Task_3...

Task_3 unique values AFTER standardization:
  - 500H INSPECTION
  - BORESCOPE INSPECTION
  - ENGINE PRESERVATION
  - HMU INSTALLATION
  - MO5 REPLACEMENT
  - NONE
  - OUTPUT SEAL INSTALLATION
  - OVSP DRAIN VALVE
  - STANDARD EXCHANGE 03

### Standardize Task 4

In [22]:
df['Task_4'].unique()

array([None, '600h inspection', 'TU 374', 'FCU P2 Chamber Inspection',
       'To carry out SB 298792087 Ver. B dated 5 Oct',
       'To carry out SB 298792087',
       'To carry out SB 298 79 2087 (Addition of a lubrication pipe bracket of the gas-generator rear bearing) Version B Dated 05 Oct 2017'],
      dtype=object)

In [23]:
import re
import pandas as pd

def standardize_task4(text):
    """
    Standardization rules specific for Task_4 column
    """
    if pd.isna(text):
        return text
    
    # Convert to uppercase and strip whitespace
    text = str(text).upper().strip()
    
    # SB (SERVICE BULLETIN) STANDARDIZATION
    # Matches "SB" followed by digits/spaces, ignores "Ver", "Dated", "To carry out"
    # Logic: Look for "SB" + number and keep only that part
    sb_match = re.search(r'(SB\s*[\d\s]+)', text)
    if sb_match:
        # Extract "SB 123 456"
        clean_sb = sb_match.group(1).replace(" ", "") # Remove internal spaces: SB123456
        # Re-add single space for standard format: SB 123456
        clean_sb = clean_sb.replace("SB", "SB ")
        return clean_sb

    # FCU INSPECTION
    # "FCU P2 Chamber Inspection" -> "FCU INSPECTION"
    if "FCU" in text and "INSPECTION" in text:
        return "FCU INSPECTION"

    return text

# Apply standardization to Task_4
print("Standardizing Task_4...")
df['Task_4'] = df['Task_4'].apply(standardize_task4)

# Show unique values to verify
print("\nTask_4 unique values AFTER standardization:")
unique_t4 = sorted([str(t) for t in df['Task_4'].unique() if pd.notna(t) and str(t).strip() != ""])
for task in unique_t4:
    print(f"  - {task}")

Standardizing Task_4...

Task_4 unique values AFTER standardization:
  - 600H INSPECTION
  - FCU INSPECTION
  - SB 298792087
  - TU 374

### Standardize Task 5

In [24]:
df['Task_5'].unique().tolist()

[None,
 '(Refer : SO-005020 / SO-005127 V1)',
 'To carry out SB 298 73 2097 (Adjusted valve assembly - Reinforcement of the attachment of the bosses of the fire protection box of the valve assembly) Version A Dated 18 Jul 2022']

In [25]:
import re
import pandas as pd

def standardize_task5(text):
    """
    Standardization rules specific for Task_5 column
    """
    if pd.isna(text):
        return text
    
    # Convert to uppercase and strip whitespace
    text = str(text).upper().strip()
    
    # REMOVE REFER TEXT
    # Matches "(Refer : ...)" and removes it entirely
    # The regex looks for "(", optional "Refer", optional ":", then any text until ")"
    text = re.sub(r'\(REFER\s*:.*?\)', '', text)
    
    # If the text is now empty (e.g. the cell was ONLY the refer text), return None
    if text.strip() == "":
        return None

    # SB (SERVICE BULLETIN) STANDARDIZATION
    # Matches "SB" followed by digits and spaces.
    # We capture the numbers so we can strip the spaces inside them.
    sb_match = re.search(r'SB\s*([\d\s]+)', text)
    
    if sb_match:
        # Extract the number part: "298 73 2097"
        raw_number = sb_match.group(1)
        # Remove all spaces: "298732097"
        clean_number = raw_number.replace(" ", "")
        # Return standardized format: "SB 298732097"
        return f"SB {clean_number}"

    return text.strip()

# Apply standardization to Task_5
print("Standardizing Task_5...")
df['Task_5'] = df['Task_5'].apply(standardize_task5)

# Show unique values to verify
print("\nTask_5 unique values AFTER standardization:")
unique_t5 = sorted([str(t) for t in df['Task_5'].unique() if pd.notna(t) and str(t).strip() != ""])
for task in unique_t5:
    print(f"  - {task}")

Standardizing Task_5...

Task_5 unique values AFTER standardization:
  - SB 298732097

### Standardize Task 6

In [26]:
df['Task_6'].unique()

array([None,
       'To carry out repair as per Engineering Services Instruction (ESI) ESI/MAKILA2A1/757 R1 and to observe and comply with condition of CAAM approval of Design of Minor Repair REP/A/2025/001. Other related documentation is Safran Helicopter Engine Technical Agreement TA'],
      dtype=object)

In [27]:
import re
import pandas as pd

def standardize_task6(text):
    """
    Standardization rules specific for Task_6 column
    """
    if pd.isna(text):
        return text
    
    # Convert to uppercase and strip whitespace
    text = str(text).upper().strip()

    esi_match = re.search(r'(ESI/[A-Z0-9/]+)', text)
    if esi_match:
        # Returns: "REPAIR ESI/MAKILA2A1/757"
        return f"REPAIR {esi_match.group(1)}"

    return text.strip()

# Apply standardization to Task_6
print("Standardizing Task_6...")
df['Task_6'] = df['Task_6'].apply(standardize_task6)

# Show unique values to verify
print("\nTask_6 unique values AFTER standardization:")
unique_t6 = sorted([str(t) for t in df['Task_6'].unique() if pd.notna(t) and str(t).strip() != ""])
for task in unique_t6:
    print(f"  - {task}")

Standardizing Task_6...

Task_6 unique values AFTER standardization:
  - REPAIR ESI/MAKILA2A1/757

In [28]:
output_filename = 'technical_intervention_split_standardized.xlsx'
df.to_excel(output_filename, index=False)
print(f"\nFinal processing complete. Data saved to {output_filename}")

Final processing complete. Data saved to technical_intervention_split_standardized.xlsx

In [29]:
df[['Brief Description of Technical Intervention', 'Task_1', 'Task_2', 'Task_3', 'Task_4', 'Task_5', 'Task_6']].head(30)

,Brief Description of Technical Intervention,Task_1,Task_2,Task_3,Task_4,Task_5,Task_6
1,MODULE 4 & 5 REPLACEMENT,MO4 REPLACEMENT,MO5 REPLACEMENT,NONE,None,None,None
2,"TU347,MO5 REPLACEMENT",TU 347,MO5 REPLACEMENT,NONE,None,None,None
3,HMU SLEEVE REPLACEMENT,HMU SLEEVE REPLACEMENT,None,NONE,None,None,None
4,MODULE 1 REPLACEMENT,MO1 REPLACEMENT,None,NONE,None,None,None
5,MODULE 5 REPLACEMENT,MO5 REPLACEMENT,None,NONE,None,None,None
6,TU 166 APPLICATION,TU 166,None,NONE,None,None,None
7,TU 166 APPLICATION,TU 166,None,NONE,None,None,None
8,HMU TBO EXTENTION,HMU TBO EXTENTION,None,NONE,None,None,None
9,O RING REPLACEMENT MO5,MO5 REPLACEMENT,None,NONE,None,None,None
10,TU166,TU 166,None,NONE,None,None,None
11,MODULE 1 & 5 REPLACEMENT,MO1 REPLACEMENT,MO5 REPLACEMENT,NONE,None,None,None
12,HMU SLEEVE REPLACEMENT,HMU SLEEVE REPLACEMENT,None,NONE,None,None,None
13,MODULE 3 REPLACEMENT,MO3 REPLACEMENT,None,NONE,None,None,None
14,MODULE 3 REPLACEMENT,MO3 REPLACEMENT,None,NONE,None,None,None
15,MODULE 1 REPLACEMENT,MO1 REPLACEMENT,None,NONE,None,None,None
16,TU347,TU 347,None,NONE,None,None,None
17,TU347,TU 347,None,NONE,None,None,None
18,MODULE 2/3 REPLACEMENT,MO2 REPLACEMENT,MO3 REPLACEMENT,NONE,None,None,None
19,MODULE 1/3 REPLACEMENT,MO1 REPLACEMENT,MO3 REPLACEMENT,NONE,None,None,None
20,POST RENTAL INSPECTION,POST RENTAL INSPECTION,None,NONE,None,None,None
21,MODULE 4 REPLACEMENT,MO4 REPLACEMENT,None,NONE,None,None,None
22,"MODULE 1,4 AND 5 REPLACEMENT",MO1 REPLACEMENT,MO4 REPLACEMENT,MO5 REPLACEMENT,None,None,None
23,POST RENTAL INSPECTION,POST RENTAL INSPECTION,None,NONE,None,None,None
24,HMU SLEEVE REPLACEMENT,HMU SLEEVE REPLACEMENT,None,NONE,None,None,None
25,LIGHTNING STRIKE INSPECTION,LIGHTNING STRIKE INSPECTION,None,NONE,None,None,None
26,MODULE 1 OIL DRIP,MO1 OIL DRIP,None,NONE,None,None,None
27,LIGHTNING STRIKE INSPECTION,LIGHTNING STRIKE INSPECTION,None,NONE,None,None,None
28,MODULE 3 REPLACEMENT,MO3 REPLACEMENT,None,NONE,None,None,None
29,NFT SEALOL SEAL REPLACEMENT,NFT SEALOL SEAL REPLACEMENT,None,NONE,None,None,None
30,MODULE 3 REPLACEMENT,MO3 REPLACEMENT,None,NONE,None,None,None

In [30]:
# Create df_mod1: insert Task columns after 'Brief Description of Technical Intervention'
df_mod1 = df.copy()

# Find the index of 'Brief Description of Technical Intervention' column
col_index = df_mod1.columns.get_loc('Brief Description of Technical Intervention')

# Get column list and insert Task columns after it
cols = df_mod1.columns.tolist()
task_cols = ['Task_1', 'Task_2', 'Task_3', 'Task_4', 'Task_5', 'Task_6']

# Remove task columns if they already exist in other positions
for task_col in task_cols:
    if task_col in cols:
        cols.remove(task_col)

# Insert task columns after 'Brief Description of Technical Intervention'
for i, task_col in enumerate(task_cols):
    cols.insert(col_index + 1 + i, task_col)

# Reorder dataframe
df_mod1 = df_mod1[cols]
df_mod1.head(20)

,Year,Mth,Day,Engine,Variant,Brief Description of Technical Intervention,Task_1,Task_2,Task_3,Task_4,Task_5,Task_6,Intervention level,By
1,2013,MARCH,14,ARRIEL 2,2S2,MODULE 4 & 5 REPLACEMENT,MO4 REPLACEMENT,MO5 REPLACEMENT,NONE,None,None,None,L2,BS
2,2013,MARCH,27,ARRIEL 1,1S1,"TU347,MO5 REPLACEMENT",TU 347,MO5 REPLACEMENT,NONE,None,None,None,L3,BS
3,2013,APR,9,Accessories,2D,HMU SLEEVE REPLACEMENT,HMU SLEEVE REPLACEMENT,None,NONE,None,None,None,L2,BS
4,2013,MAY,10,ARRIEL 1,1S1,MODULE 1 REPLACEMENT,MO1 REPLACEMENT,None,NONE,None,None,None,L2,BS
5,2013,MAY,14,ARRIEL 1,1S1,MODULE 5 REPLACEMENT,MO5 REPLACEMENT,None,NONE,None,None,None,L2,KA
6,2013,MAY,19,ARRIEL 2,2C2,TU 166 APPLICATION,TU 166,None,NONE,None,None,None,L3,BS
7,2013,MAY,22,ARRIEL 2,2C2,TU 166 APPLICATION,TU 166,None,NONE,None,None,None,L3,BS
8,2013,MAY,27,Accessories,2S2,HMU TBO EXTENTION,HMU TBO EXTENTION,None,NONE,None,None,None,L2,BS
9,2013,JUNE,10,ARRIEL 1,1S1,O RING REPLACEMENT MO5,MO5 REPLACEMENT,None,NONE,None,None,None,L2,KA
10,2013,JUNE,14,ARRIEL 2,2C2,TU166,TU 166,None,NONE,None,None,None,L3,BS
11,2013,JULY,4,ARRIEL 2,2s2,MODULE 1 & 5 REPLACEMENT,MO1 REPLACEMENT,MO5 REPLACEMENT,NONE,None,None,None,L2,KA
12,2013,JULY,12,Accessories,2D,HMU SLEEVE REPLACEMENT,HMU SLEEVE REPLACEMENT,None,NONE,None,None,None,L2,BS
13,2013,JULY,15,ARRIEL 1,1D1,MODULE 3 REPLACEMENT,MO3 REPLACEMENT,None,NONE,None,None,None,L2,KA
14,2013,JULY,22,ARRIEL 1,1D1,MODULE 3 REPLACEMENT,MO3 REPLACEMENT,None,NONE,None,None,None,L2,BS
15,2013,AUGUST,14,ARRIEL 1,1S1,MODULE 1 REPLACEMENT,MO1 REPLACEMENT,None,NONE,None,None,None,L2,KA
16,2013,AUGUST,12,ARRIEL 1,1D1,TU347,TU 347,None,NONE,None,None,None,L3,BS
17,2013,AUGUST,19,ARRIEL 1,1D1,TU347,TU 347,None,NONE,None,None,None,L3,BS
18,2013,SEPTEMBER,18,ARRIEL 2,2S2,MODULE 2/3 REPLACEMENT,MO2 REPLACEMENT,MO3 REPLACEMENT,NONE,None,None,None,L2,BS
19,2013,OCTOBER,1,ARRIEL 2,2S1,MODULE 1/3 REPLACEMENT,MO1 REPLACEMENT,MO3 REPLACEMENT,NONE,None,None,None,L2,BS
20,2013,OCTOBER,8,ARRIEL 2,2C1,POST RENTAL INSPECTION,POST RENTAL INSPECTION,None,NONE,None,None,None,L2,KA

In [31]:
print(df_mod1.columns)

Index(['Year', 'Mth', 'Day', 'Engine', 'Variant',
       'Brief Description of Technical Intervention', 'Task_1', 'Task_2',
       'Task_3', 'Task_4', 'Task_5', 'Task_6', 'Intervention level', 'By'],
      dtype='object')

## Day and Duration

In [32]:
df['Day'].unique()

array(['14', '27', '9', '10', '19', '22', '4', '12', '15', '18', '1', '8',
       '24', '25', '31', '5', '20', '13', '17', '21', '26', '28', '29',
       '23', '3', '16', '2', '30', '11', '25 - 29', '2 to 5', '15-20',
       '18 -19', '2 to 4', '5 to 8', '15 to 19', '20 to 22', '3 to 4',
       '5 to 6', '13 TO 19', '6', '6 TO 15', '27 TO 29', '29 TO 3', '7',
       '14-15', '16-18', '23-24', '24-25', '30-01', '12-Nov',
       'Job pending', 'rejected mo2.T.A stopped', '13-Dec', '22-26',
       '2 TO 8', '26-28', '12 to 16', '19 to 23', '5 to 12', '4 to 5',
       '2 to 6', '23 to 24', '15 to 21', '18 to 20', '13 to 16',
       '12 to 17', '19 , 20', '8,9', '10,11', '13,14', '16, 17', '18, 19',
       '14,15', '20,21', '24-28', '19-20', '22-28', '5 12', '10 T0 11',
       '2&3', '22 to 23', '21 to 22', '23 TO 25', '11 to 14', '25 To 28',
       '/', '13 TO 17', '12 FEB- 18 MAR', '30 MAR -3 APR', '13 - 17',
       '28 - 29', '30 - 31', '12 Feb - _x000D__x000D_\n18 Mar',
       '19 -21 Apr -and 14 - 16 & 21 Jul 20', '3-May-20',
       '5 - 7_x000D__x000D_\nMay 20', '10 - 11_x000D__x000D_\nJun 20',
       '25 - 26_x000D__x000D_\nJun 20',
       '2 - 3 & _x000D__x000D_\n6 - 8 Jul', '27 - 28 Jul', '29-Jul-20',
       '6-Aug-20', '10 - 14 _x000D__x000D_\nAug 20',
       '17 - 18 _x000D__x000D_\nAug 20', '7 - 8 _x000D__x000D_\nSep 20',
       '9 - 10_x000D__x000D_\nSep 20', '21 - 23_x000D__x000D_\nSep 20',
       '24-Sep-20', '28 - _x000D__x000D_\n2 OCT 20', '12-Nov-20',
       '13-Nov-20', '16 - 17_x000D__x000D_\n Nov 21', '2-Dec-20',
       '18-Dec-20', '11 - 30 JAN 2021', '15-Jan-21', '18-Jan-21',
       '6-Feb-21', '8 - 9 _x000D__x000D_\nMar 21',
       '10 - 11 _x000D__x000D_\nMar 21', '15-Mar-21', '12-Apr-21',
       '5-May-21', '5-Jul-21', '21-Sep-21', '25-Oct-21', '29-Nov-21',
       '2-Dec-21', '03 - 04 Feb 2022', '9-Feb-22', '17 - 18 Feb 2022',
       '24 - 25 Feb 2022', '30 Mar  - 7 Jul 2022', '01 & 04 Apr 2022',
       '25 - 29 Apr_x000D__x000D_\n2022',
       '28 - 29 Jun_x000D__x000D_\n2022', '28-Jun-22', '20-Jul-22',
       '22 - 23 Aug_x000D__x000D_\n2022', '17-Aug-22', '18-Aug-22',
       '24 - 26 Aug_x000D__x000D_\n2022',
       '14 - 15 Sep_x000D__x000D_\n2022', '5 - 6 OCT_x000D__x000D_\n2022',
       '6 - 8 Feb 2023', '29 Mar -_x000D__x000D_\n8 Jun 23',
       '30 Mar - _x000D__x000D_\n7 Jun 23', '9-Apr-23', '8-Apr-23',
       '9-Jun-23 & _x000D__x000D_\n7-Jul-23', '8-Aug-23',
       '22-Aug-23 & _x000D__x000D_\n28-Aug-23',
       '_x000D__x000D_\n4-Sep-23', '14-Sep-23', '20-Oct-23',
       '24 - 25 OCT', '4-Dec-23', '13-Dec-23', '14-Dec-23', '15-Dec-23',
       '18-Dec-23', '17 - 18 Jan, _x000D__x000D_\n05 - 07 Feb 24',
       '16 - 19 Jan 24', '26 & 29 Jan 24', '5 & 6 Feb 24', '9-Feb-24',
       '1-2 April 24', '3-4 April 24', '5-Apr-24', '18-Apr-24',
       '26-Apr-24', '4-11 June 24', '13-Jun-24', '24-Jun-24',
       '24/6/2024 -5 Jul 24', '2-Jul-24',
       '22 Jul - 08 Aug 24_x000D__x000D_\n19,20 Mar - _x000D__x000D_\n7,8 Apr 25',
       '22 - 26 Jul 24', '25-Jul-24', '26-Jul-24', '9-Sep-24', '4-Sep-24',
       '6 & 7 Oct 24', '6 & 7 Nov 24', '28 & 29 Nov 24',
       '10, 12, 13, _x000D__x000D_\n16 & 17 Dec 24',
       '17 - 28 Feb,_x000D__x000D_\n3 - 5 Mar,_x000D__x000D_\n18 Apr & 02 Jul 2025',
       '4-Mar-25', '10-11 Mar 25', '8-Apr-25', '9-Apr-25', '11-Apr-25',
       '14-Apr-25', '16-Apr-25', '21 - 23 Apr 2025', '22 - 23 Apr 2025',
       '5 - 6 May 2025', '7 - 8 May 2025', '13 - 15 May 2025',
       '19-May-25', '20-May-25', '21 - 23 May 2025', '26-May-25',
       '27-May-25', '28-May-25', '3-Jun-25', '10-Jun-25', '12-Jun-25',
       '17-Jun-25', '20-Jun-25', '23-Jun-25', '25-Jun-25',
       '8 & 10 Jul 25'], dtype=object)

In [33]:
df['Day'] = df['Day'].astype(str).str.strip()
values_to_remove = ['Job pending', 'rejected mo2.T.A stopped', '/']
df = df[~df['Day'].isin(values_to_remove)]
df = df.dropna(subset=['Day'])
df['Day'].unique()

array(['14', '27', '9', '10', '19', '22', '4', '12', '15', '18', '1', '8',
       '24', '25', '31', '5', '20', '13', '17', '21', '26', '28', '29',
       '23', '3', '16', '2', '30', '11', '25 - 29', '2 to 5', '15-20',
       '18 -19', '2 to 4', '5 to 8', '15 to 19', '20 to 22', '3 to 4',
       '5 to 6', '13 TO 19', '6', '6 TO 15', '27 TO 29', '29 TO 3', '7',
       '14-15', '16-18', '23-24', '24-25', '30-01', '12-Nov', '13-Dec',
       '22-26', '2 TO 8', '26-28', '12 to 16', '19 to 23', '5 to 12',
       '4 to 5', '2 to 6', '23 to 24', '15 to 21', '18 to 20', '13 to 16',
       '12 to 17', '19 , 20', '8,9', '10,11', '13,14', '16, 17', '18, 19',
       '14,15', '20,21', '24-28', '19-20', '22-28', '5 12', '10 T0 11',
       '2&3', '22 to 23', '21 to 22', '23 TO 25', '11 to 14', '25 To 28',
       '13 TO 17', '12 FEB- 18 MAR', '30 MAR -3 APR', '13 - 17',
       '28 - 29', '30 - 31', '12 Feb - _x000D__x000D_\n18 Mar',
       '19 -21 Apr -and 14 - 16 & 21 Jul 20', '3-May-20',
       '5 - 7_x000D__x000D_\nMay 20', '10 - 11_x000D__x000D_\nJun 20',
       '25 - 26_x000D__x000D_\nJun 20',
       '2 - 3 & _x000D__x000D_\n6 - 8 Jul', '27 - 28 Jul', '29-Jul-20',
       '6-Aug-20', '10 - 14 _x000D__x000D_\nAug 20',
       '17 - 18 _x000D__x000D_\nAug 20', '7 - 8 _x000D__x000D_\nSep 20',
       '9 - 10_x000D__x000D_\nSep 20', '21 - 23_x000D__x000D_\nSep 20',
       '24-Sep-20', '28 - _x000D__x000D_\n2 OCT 20', '12-Nov-20',
       '13-Nov-20', '16 - 17_x000D__x000D_\n Nov 21', '2-Dec-20',
       '18-Dec-20', '11 - 30 JAN 2021', '15-Jan-21', '18-Jan-21',
       '6-Feb-21', '8 - 9 _x000D__x000D_\nMar 21',
       '10 - 11 _x000D__x000D_\nMar 21', '15-Mar-21', '12-Apr-21',
       '5-May-21', '5-Jul-21', '21-Sep-21', '25-Oct-21', '29-Nov-21',
       '2-Dec-21', '03 - 04 Feb 2022', '9-Feb-22', '17 - 18 Feb 2022',
       '24 - 25 Feb 2022', '30 Mar  - 7 Jul 2022', '01 & 04 Apr 2022',
       '25 - 29 Apr_x000D__x000D_\n2022',
       '28 - 29 Jun_x000D__x000D_\n2022', '28-Jun-22', '20-Jul-22',
       '22 - 23 Aug_x000D__x000D_\n2022', '17-Aug-22', '18-Aug-22',
       '24 - 26 Aug_x000D__x000D_\n2022',
       '14 - 15 Sep_x000D__x000D_\n2022', '5 - 6 OCT_x000D__x000D_\n2022',
       '6 - 8 Feb 2023', '29 Mar -_x000D__x000D_\n8 Jun 23',
       '30 Mar - _x000D__x000D_\n7 Jun 23', '9-Apr-23', '8-Apr-23',
       '9-Jun-23 & _x000D__x000D_\n7-Jul-23', '8-Aug-23',
       '22-Aug-23 & _x000D__x000D_\n28-Aug-23',
       '_x000D__x000D_\n4-Sep-23', '14-Sep-23', '20-Oct-23',
       '24 - 25 OCT', '4-Dec-23', '13-Dec-23', '14-Dec-23', '15-Dec-23',
       '18-Dec-23', '17 - 18 Jan, _x000D__x000D_\n05 - 07 Feb 24',
       '16 - 19 Jan 24', '26 & 29 Jan 24', '5 & 6 Feb 24', '9-Feb-24',
       '1-2 April 24', '3-4 April 24', '5-Apr-24', '18-Apr-24',
       '26-Apr-24', '4-11 June 24', '13-Jun-24', '24-Jun-24',
       '24/6/2024 -5 Jul 24', '2-Jul-24',
       '22 Jul - 08 Aug 24_x000D__x000D_\n19,20 Mar - _x000D__x000D_\n7,8 Apr 25',
       '22 - 26 Jul 24', '25-Jul-24', '26-Jul-24', '9-Sep-24', '4-Sep-24',
       '6 & 7 Oct 24', '6 & 7 Nov 24', '28 & 29 Nov 24',
       '10, 12, 13, _x000D__x000D_\n16 & 17 Dec 24',
       '17 - 28 Feb,_x000D__x000D_\n3 - 5 Mar,_x000D__x000D_\n18 Apr & 02 Jul 2025',
       '4-Mar-25', '10-11 Mar 25', '8-Apr-25', '9-Apr-25', '11-Apr-25',
       '14-Apr-25', '16-Apr-25', '21 - 23 Apr 2025', '22 - 23 Apr 2025',
       '5 - 6 May 2025', '7 - 8 May 2025', '13 - 15 May 2025',
       '19-May-25', '20-May-25', '21 - 23 May 2025', '26-May-25',
       '27-May-25', '28-May-25', '3-Jun-25', '10-Jun-25', '12-Jun-25',
       '17-Jun-25', '20-Jun-25', '23-Jun-25', '25-Jun-25',
       '8 & 10 Jul 25'], dtype=object)

In [34]:
df['Day'] = df['Day'].str.replace(r'_x000D__x000D_\n', '', regex=True)
df['Day'].unique()

array(['14', '27', '9', '10', '19', '22', '4', '12', '15', '18', '1', '8',
       '24', '25', '31', '5', '20', '13', '17', '21', '26', '28', '29',
       '23', '3', '16', '2', '30', '11', '25 - 29', '2 to 5', '15-20',
       '18 -19', '2 to 4', '5 to 8', '15 to 19', '20 to 22', '3 to 4',
       '5 to 6', '13 TO 19', '6', '6 TO 15', '27 TO 29', '29 TO 3', '7',
       '14-15', '16-18', '23-24', '24-25', '30-01', '12-Nov', '13-Dec',
       '22-26', '2 TO 8', '26-28', '12 to 16', '19 to 23', '5 to 12',
       '4 to 5', '2 to 6', '23 to 24', '15 to 21', '18 to 20', '13 to 16',
       '12 to 17', '19 , 20', '8,9', '10,11', '13,14', '16, 17', '18, 19',
       '14,15', '20,21', '24-28', '19-20', '22-28', '5 12', '10 T0 11',
       '2&3', '22 to 23', '21 to 22', '23 TO 25', '11 to 14', '25 To 28',
       '13 TO 17', '12 FEB- 18 MAR', '30 MAR -3 APR', '13 - 17',
       '28 - 29', '30 - 31', '12 Feb - 18 Mar',
       '19 -21 Apr -and 14 - 16 & 21 Jul 20', '3-May-20', '5 - 7May 20',
       '10 - 11Jun 20', '25 - 26Jun 20', '2 - 3 & 6 - 8 Jul',
       '27 - 28 Jul', '29-Jul-20', '6-Aug-20', '10 - 14 Aug 20',
       '17 - 18 Aug 20', '7 - 8 Sep 20', '9 - 10Sep 20', '21 - 23Sep 20',
       '24-Sep-20', '28 - 2 OCT 20', '12-Nov-20', '13-Nov-20',
       '16 - 17 Nov 21', '2-Dec-20', '18-Dec-20', '11 - 30 JAN 2021',
       '15-Jan-21', '18-Jan-21', '6-Feb-21', '8 - 9 Mar 21',
       '10 - 11 Mar 21', '15-Mar-21', '12-Apr-21', '5-May-21', '5-Jul-21',
       '21-Sep-21', '25-Oct-21', '29-Nov-21', '2-Dec-21',
       '03 - 04 Feb 2022', '9-Feb-22', '17 - 18 Feb 2022',
       '24 - 25 Feb 2022', '30 Mar  - 7 Jul 2022', '01 & 04 Apr 2022',
       '25 - 29 Apr2022', '28 - 29 Jun2022', '28-Jun-22', '20-Jul-22',
       '22 - 23 Aug2022', '17-Aug-22', '18-Aug-22', '24 - 26 Aug2022',
       '14 - 15 Sep2022', '5 - 6 OCT2022', '6 - 8 Feb 2023',
       '29 Mar -8 Jun 23', '30 Mar - 7 Jun 23', '9-Apr-23', '8-Apr-23',
       '9-Jun-23 & 7-Jul-23', '8-Aug-23', '22-Aug-23 & 28-Aug-23',
       '4-Sep-23', '14-Sep-23', '20-Oct-23', '24 - 25 OCT', '4-Dec-23',
       '13-Dec-23', '14-Dec-23', '15-Dec-23', '18-Dec-23',
       '17 - 18 Jan, 05 - 07 Feb 24', '16 - 19 Jan 24', '26 & 29 Jan 24',
       '5 & 6 Feb 24', '9-Feb-24', '1-2 April 24', '3-4 April 24',
       '5-Apr-24', '18-Apr-24', '26-Apr-24', '4-11 June 24', '13-Jun-24',
       '24-Jun-24', '24/6/2024 -5 Jul 24', '2-Jul-24',
       '22 Jul - 08 Aug 2419,20 Mar - 7,8 Apr 25', '22 - 26 Jul 24',
       '25-Jul-24', '26-Jul-24', '9-Sep-24', '4-Sep-24', '6 & 7 Oct 24',
       '6 & 7 Nov 24', '28 & 29 Nov 24', '10, 12, 13, 16 & 17 Dec 24',
       '17 - 28 Feb,3 - 5 Mar,18 Apr & 02 Jul 2025', '4-Mar-25',
       '10-11 Mar 25', '8-Apr-25', '9-Apr-25', '11-Apr-25', '14-Apr-25',
       '16-Apr-25', '21 - 23 Apr 2025', '22 - 23 Apr 2025',
       '5 - 6 May 2025', '7 - 8 May 2025', '13 - 15 May 2025',
       '19-May-25', '20-May-25', '21 - 23 May 2025', '26-May-25',
       '27-May-25', '28-May-25', '3-Jun-25', '10-Jun-25', '12-Jun-25',
       '17-Jun-25', '20-Jun-25', '23-Jun-25', '25-Jun-25',
       '8 & 10 Jul 25'], dtype=object)

In [35]:
import re
import pandas as pd
from datetime import datetime

def parse_duration(day_str, year=None, month_str=None):
    """
    Parse various Day formats and return total duration in days.

    Handles:
    - Single days: '14', '27'
    - Simple ranges: '25 - 29', '2 to 5', '8,9', '2&3'
    - Day-Month single: '12-Nov', '3-May-20'
    - Day range with month: '10 - 11 Mar 21', '25 - 29 Apr2022'
    - Cross-month range: '12 FEB- 18 MAR', '30 MAR -3 APR', '28 - 2 OCT 20'
    - Multiple disjoint ranges: '9-Jun-23 & 7-Jul-23', '17 - 18 Jan, 05 - 07 Feb 24'

    Args:
        day_str: The Day column value
        year: Year from Year column (for context)
        month_str: Month from Mth column (for context)
    
    Returns:
        (duration, start_date, end_date)
    """
    if pd.isna(day_str):
        return None, None, None

    # Handle datetime objects
    if isinstance(day_str, datetime):
        return 1, day_str.day, day_str.day

    day_str = str(day_str).strip()
    day_str_upper = day_str.upper()

    # Month mapping
    month_map = {
        'JAN': 1, 'JANUARY': 1,
        'FEB': 2, 'FEBRUARY': 2,
        'MAR': 3, 'MARCH': 3,
        'APR': 4, 'APRIL': 4,
        'MAY': 5,
        'JUN': 6, 'JUNE': 6,
        'JUL': 7, 'JULY': 7,
        'AUG': 8, 'AUGUST': 8,
        'SEP': 9, 'SEPT': 9, 'SEPTEMBER': 9,
        'OCT': 10, 'OCTOBER': 10,
        'NOV': 11, 'NOVEMBER': 11,
        'DEC': 12, 'DECEMBER': 12
    }
    
    month_names = ['', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN',
                   'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']

    # Get context month number
    context_month = None
    if month_str:
        month_str_upper = str(month_str).strip().upper()
        context_month = month_map.get(month_str_upper)

    # Get context year
    context_year = None
    if year:
        try:
            context_year = int(year)
            if context_year < 100:
                context_year += 2000
        except:
            context_year = 2024
    else:
        context_year = 2024

    # Check for multiple complete date segments (each with month info)
    # Pattern: "9-Jun-23 & 7-Jul-23" or "17 - 18 Jan, 05 - 07 Feb 24"
    compound_pattern = r'(\d{1,2}[^&,]+[A-Z]{3}[^&,]*)\s*[&,]\s*(\d{1,2}[^&,]+[A-Z]{3}[^&,]*)'
    if re.search(compound_pattern, day_str_upper):
        # Split and sum durations
        segments = re.split(r'\s*(?:&|AND)\s*|\s*,\s*(?=\d{1,2}\s*[-\s])', day_str_upper)
        total_duration = 0
        first_start = None
        last_end = None

        for seg in segments:
            seg = seg.strip()
            if not seg:
                continue
            dur, start, end = parse_single_segment(seg, context_year, context_month, month_map, month_names)
            if dur:
                total_duration += dur
                if first_start is None:
                    first_start = start
                last_end = end

        return total_duration if total_duration > 0 else None, first_start, last_end

    # Otherwise parse as single segment
    return parse_single_segment(day_str_upper, context_year, context_month, month_map, month_names)


def parse_single_segment(seg, year, context_month, month_map, month_names):
    """
    Parse a single date/range segment.
    Returns (duration, start_date, end_date)
    """
    seg = seg.strip()

    # Pattern 1: Single number (e.g., "14")
    if re.match(r'^\d{1,2}$', seg):
        day = int(seg)
        return 1, day, day

    # Pattern 2: Simple range "X - Y" or "X TO Y" (days only, no month)
    match = re.match(r'^(\d{1,2})\s*(?:-|TO|T0|,|&|\s)\s*(\d{1,2})$', seg)
    if match:
        start, end = int(match.group(1)), int(match.group(2))
        if end >= start:
            return end - start + 1, start, end
        else:
            # Month wrap (e.g., "29 TO 3" means crossing month boundary)
            return (30 - start) + end + 1, start, end

    # Pattern 3: Full date single (e.g., "3-MAY-20", "29-JUL-20", "9-FEB-24")
    match = re.match(r'^(\d{1,2})-(\w{3})-(\d{2,4})$', seg)
    if match:
        return 1, int(match.group(1)), int(match.group(1))

    # Pattern 4: Day-Month single (e.g., "12-NOV", "13 DEC", "12 NOV")
    match = re.match(r'^(\d{1,2})\s*-?\s*([A-Z]{3})$', seg)
    if match:
        return 1, int(match.group(1)), int(match.group(1))

    # Pattern 5: Day range with month at end (e.g., "10 - 11 MAR 21", "25 - 29 APR2022", "28 - 2 OCT 20")
    # If start_day > end_day, start is from previous month
    match = re.match(r'^(\d{1,2})\s*-\s*(\d{1,2})\s*([A-Z]{3})\s*(\d{2,4})?$', seg)
    if match:
        start_day, end_day = int(match.group(1)), int(match.group(2))
        end_month_str = match.group(3)
        yr_str = match.group(4)
        
        yr = int(yr_str) if yr_str else year
        if yr and yr < 100:
            yr += 2000
        if not yr:
            yr = 2024
            
        end_month = month_map.get(end_month_str)
        
        if start_day > end_day and end_month:
            # Start day is from previous month (e.g., "28 - 2 OCT" = 28 SEP - 2 OCT)
            start_month = end_month - 1 if end_month > 1 else 12
            start_year = yr if end_month > 1 else yr - 1
            start_month_str = month_names[start_month]
            
            try:
                start_date = datetime(start_year, start_month, start_day)
                end_date = datetime(yr, end_month, end_day)
                duration = (end_date - start_date).days + 1
                return duration, f"{start_day} {start_month_str}", f"{end_day} {end_month_str}"
            except:
                pass
        
        # Normal case: same month
        return end_day - start_day + 1, start_day, end_day

    # Pattern 6: Cross-month range with both months (e.g., "12 FEB- 18 MAR", "30 MAR -3 APR")
    match = re.match(
        r'^(\d{1,2})\s*([A-Z]{3})?\s*-\s*(\d{1,2})\s*([A-Z]{3})\s*(\d{2,4})?$',
        seg
    )
    if match:
        start_day = int(match.group(1))
        start_month_str = match.group(2)
        end_day = int(match.group(3))
        end_month_str = match.group(4)
        yr_str = match.group(5)

        yr = int(yr_str) if yr_str else year
        if yr and yr < 100:
            yr += 2000
        if not yr:
            yr = 2024

        # Get month numbers
        end_month = month_map.get(end_month_str)
        
        if start_month_str:
            start_month = month_map.get(start_month_str)
        elif start_day > end_day and end_month:
            # Infer previous month if start_day > end_day
            start_month = end_month - 1 if end_month > 1 else 12
        else:
            start_month = end_month

        if start_month and end_month:
            try:
                start_year = yr
                end_year = yr
                
                # Handle year transition (e.g., DEC to JAN)
                if start_month > end_month:
                    end_year = yr + 1
                # Handle case where start is previous year (e.g., 28 DEC - 2 JAN with end month JAN)
                if not start_month_str and start_day > end_day and end_month == 1:
                    start_month = 12
                    start_year = yr - 1
                
                start_date = datetime(start_year, start_month, start_day)
                end_date = datetime(end_year, end_month, end_day)
                duration = (end_date - start_date).days + 1
                
                start_mon_name = start_month_str if start_month_str else month_names[start_month]
                return duration, f"{start_day} {start_mon_name}", f"{end_day} {end_month_str}"
            except:
                pass

        return end_day - start_day + 1 if end_day >= start_day else None, start_day, end_day

    # Pattern 7: Long ranges with both months (e.g., "29 MAR -8 JUN 23", "30 MAR - 7 JUN 23")
    match = re.match(
        r'^(\d{1,2})\s*([A-Z]{3})\s*-\s*(\d{1,2})\s*([A-Z]{3})\s*(\d{2,4})?$',
        seg
    )
    if match:
        start_day, start_mon = int(match.group(1)), match.group(2)
        end_day, end_mon = int(match.group(3)), match.group(4)
        yr_str = match.group(5)

        yr = int(yr_str) if yr_str else year
        if yr and yr < 100:
            yr += 2000
        if not yr:
            yr = 2024

        try:
            start_date = datetime(yr, month_map[start_mon], start_day)
            end_date = datetime(yr, month_map[end_mon], end_day)
            if end_date < start_date:
                end_date = datetime(yr + 1, month_map[end_mon], end_day)
            duration = (end_date - start_date).days + 1
            return duration, f"{start_day} {start_mon}", f"{end_day} {end_mon}"
        except:
            return None, None, None

    # Pattern 8: Enumerated days with month (e.g., "10, 12, 13, 16 & 17 DEC 24")
    match = re.match(r'^([\d,\s&]+)\s*([A-Z]{3})\s*(\d{2,4})?$', seg)
    if match:
        days_str = match.group(1)
        days = [int(d.strip()) for d in re.split(r'[,&\s]+', days_str) if d.strip().isdigit()]
        if days:
            return len(days), min(days), max(days)

    # Pattern 9: Day with spaces (e.g., "5 12" meaning days 5 to 12)
    match = re.match(r'^(\d{1,2})\s+(\d{1,2})$', seg)
    if match:
        start, end = int(match.group(1)), int(match.group(2))
        if end >= start:
            return end - start + 1, start, end

    # Fallback: try to extract first and last numbers
    days = re.findall(r'\b(\d{1,2})\b', seg)
    if len(days) >= 2:
        start, end = int(days[0]), int(days[-1])
        if end >= start:
            return end - start + 1, start, end
        else:
            return (30 - start) + end + 1, start, end
    elif len(days) == 1:
        return 1, int(days[0]), int(days[0])

    return None, None, None

print("Duration parsing functions defined!")

Duration parsing functions defined!

In [36]:
# Apply the parsing function to create duration, start_date, end_date
def apply_parse_duration(row):
    duration, start, end = parse_duration(row['Day'], row.get('Year'), row.get('Mth'))
    return pd.Series({'duration': duration, 'start_date': start, 'end_date': end})

# Apply to dataframe
result = df_mod1.apply(apply_parse_duration, axis=1)
df_mod1['duration'] = result['duration']
df_mod1['start_date'] = result['start_date']
df_mod1['end_date'] = result['end_date']

print("Duration parsing complete!")
print(f"\nTotal rows: {len(df_mod1)}")
print(f"Rows with duration: {df_mod1['duration'].notna().sum()}")
print(f"Rows without duration: {df_mod1['duration'].isna().sum()}")

print("\nSample results:")
print(df_mod1[['Day', 'start_date', 'end_date', 'duration']].head(50))

Duration parsing complete!

Total rows: 396
Rows with duration: 391
Rows without duration: 5

Sample results:
   Day start_date end_date  duration
1   14         14       14       1.0
2   27         27       27       1.0
3    9          9        9       1.0
4   10         10       10       1.0
5   14         14       14       1.0
6   19         19       19       1.0
7   22         22       22       1.0
8   27         27       27       1.0
9   10         10       10       1.0
10  14         14       14       1.0
11   4          4        4       1.0
12  12         12       12       1.0
13  15         15       15       1.0
14  22         22       22       1.0
15  14         14       14       1.0
16  12         12       12       1.0
17  19         19       19       1.0
18  18         18       18       1.0
19   1          1        1       1.0
20   8          8        8       1.0
21  18         18       18       1.0
22  24         24       24       1.0
23  25         25       25       1.0
24  31         31       31       1.0
25   5          5        5       1.0
26  14         14       14       1.0
27  20         20       20       1.0
28  13         13       13       1.0
29  20         20       20       1.0
30  27         27       27       1.0
31  20         20       20       1.0
32   4          4        4       1.0
33  13         13       13       1.0
34  17         17       17       1.0
35  17         17       17       1.0
36  18         18       18       1.0
37  18         18       18       1.0
38  19         19       19       1.0
39  19         19       19       1.0
40  20         20       20       1.0
41  20         20       20       1.0
42  21         21       21       1.0
43  22         22       22       1.0
44  24         24       24       1.0
45  24         24       24       1.0
46  25         25       25       1.0
47  25         25       25       1.0
48  26         26       26       1.0
49  26         26       26       1.0
50  27         27       27       1.0

In [37]:
# Duration distribution
print("Duration value counts:")
print(df_mod1['duration'].value_counts().sort_index().head(30))

print("\nDuration statistics:")
print(df_mod1['duration'].describe())

Duration value counts:
duration
1.0      270
2.0       49
3.0       15
4.0        8
5.0       13
6.0        3
7.0        7
8.0        3
10.0       1
11.0       2
12.0       2
14.0       2
15.0       2
16.0       1
20.0       2
21.0       1
22.0       1
23.0       1
24.0       2
25.0       1
26.0       1
30.0       1
36.0       1
47.0       1
100.0      1
Name: count, dtype: int64

Duration statistics:
count    391.000000
mean       2.938619
std        7.009248
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max      100.000000
Name: duration, dtype: float64

In [38]:
# Test the parsing function with sample values
test_values = [
    '14',               # Single day -> 1
    '25 - 29',          # Simple range -> 5
    '2 to 5',           # Range with "to" -> 4
    '13 TO 19',         # Range with "TO" -> 7
    '8,9',              # Comma separated -> 2
    '2&3',              # Ampersand -> 2
    '12-Nov',           # Day-Month -> 1
    '3-May-20',         # Full date -> 1
    '10 - 11 Mar 21',   # Range with month -> 2
    '12 FEB- 18 MAR',   # Cross-month range -> 35
    '29 TO 3',          # Month wrap -> 5
    '28 - 2 OCT 20',    # Previous month inferred (28 SEP - 2 OCT) -> 5
    '30-01',            # Month wrap -> 2
    '9-Jun-23 & 7-Jul-23',  # Multiple dates -> 2
    '10, 12, 13, 16 & 17 Dec 24',  # Enumerated days -> 5
    '29 Mar -8 Jun 23',  # Long range -> 72
]

print("Testing parse_duration function:")
print("-" * 70)
for val in test_values:
    duration, start, end = parse_duration(val, year=2024, month_str='January')
    print(f"{val:40} -> duration={duration}, start={start}, end={end}")

Testing parse_duration function:
----------------------------------------------------------------------
14                                       -> duration=1, start=14, end=14
25 - 29                                  -> duration=5, start=25, end=29
2 to 5                                   -> duration=4, start=2, end=5
13 TO 19                                 -> duration=7, start=13, end=19
8,9                                      -> duration=2, start=8, end=9
2&3                                      -> duration=2, start=2, end=3
12-Nov                                   -> duration=1, start=12, end=12
3-May-20                                 -> duration=1, start=3, end=3
10 - 11 Mar 21                           -> duration=2, start=10, end=11
12 FEB- 18 MAR                           -> duration=36, start=12 FEB, end=18 MAR
29 TO 3                                  -> duration=5, start=29, end=3
28 - 2 OCT 20                            -> duration=5, start=28 SEP, end=2 OCT
30-01                                    -> duration=2, start=30, end=1
9-Jun-23 & 7-Jul-23                      -> duration=2, start=9, end=7
10, 12, 13, 16 & 17 Dec 24               -> duration=5, start=10, end=17
29 Mar -8 Jun 23                         -> duration=72, start=29 MAR, end=8 JUN

In [39]:
# Find rows with negative duration
negative_duration = df_mod1[df_mod1['duration'] < 0]
print(f"Rows with negative duration: {len(negative_duration)}")
print(negative_duration[['Year', 'Mth', 'Day', 'start_date', 'end_date', 'duration']])

Rows with negative duration: 0
Empty DataFrame
Columns: [Year, Mth, Day, start_date, end_date, duration]
Index: []

In [40]:
df_mod1.head(20)

,Year,Mth,Day,Engine,Variant,Brief Description of Technical Intervention,Task_1,Task_2,Task_3,Task_4,Task_5,Task_6,Intervention level,By,duration,start_date,end_date
1,2013,MARCH,14,ARRIEL 2,2S2,MODULE 4 & 5 REPLACEMENT,MO4 REPLACEMENT,MO5 REPLACEMENT,NONE,None,None,None,L2,BS,1.0,14,14
2,2013,MARCH,27,ARRIEL 1,1S1,"TU347,MO5 REPLACEMENT",TU 347,MO5 REPLACEMENT,NONE,None,None,None,L3,BS,1.0,27,27
3,2013,APR,9,Accessories,2D,HMU SLEEVE REPLACEMENT,HMU SLEEVE REPLACEMENT,None,NONE,None,None,None,L2,BS,1.0,9,9
4,2013,MAY,10,ARRIEL 1,1S1,MODULE 1 REPLACEMENT,MO1 REPLACEMENT,None,NONE,None,None,None,L2,BS,1.0,10,10
5,2013,MAY,14,ARRIEL 1,1S1,MODULE 5 REPLACEMENT,MO5 REPLACEMENT,None,NONE,None,None,None,L2,KA,1.0,14,14
6,2013,MAY,19,ARRIEL 2,2C2,TU 166 APPLICATION,TU 166,None,NONE,None,None,None,L3,BS,1.0,19,19
7,2013,MAY,22,ARRIEL 2,2C2,TU 166 APPLICATION,TU 166,None,NONE,None,None,None,L3,BS,1.0,22,22
8,2013,MAY,27,Accessories,2S2,HMU TBO EXTENTION,HMU TBO EXTENTION,None,NONE,None,None,None,L2,BS,1.0,27,27
9,2013,JUNE,10,ARRIEL 1,1S1,O RING REPLACEMENT MO5,MO5 REPLACEMENT,None,NONE,None,None,None,L2,KA,1.0,10,10
10,2013,JUNE,14,ARRIEL 2,2C2,TU166,TU 166,None,NONE,None,None,None,L3,BS,1.0,14,14
11,2013,JULY,4,ARRIEL 2,2s2,MODULE 1 & 5 REPLACEMENT,MO1 REPLACEMENT,MO5 REPLACEMENT,NONE,None,None,None,L2,KA,1.0,4,4
12,2013,JULY,12,Accessories,2D,HMU SLEEVE REPLACEMENT,HMU SLEEVE REPLACEMENT,None,NONE,None,None,None,L2,BS,1.0,12,12
13,2013,JULY,15,ARRIEL 1,1D1,MODULE 3 REPLACEMENT,MO3 REPLACEMENT,None,NONE,None,None,None,L2,KA,1.0,15,15
14,2013,JULY,22,ARRIEL 1,1D1,MODULE 3 REPLACEMENT,MO3 REPLACEMENT,None,NONE,None,None,None,L2,BS,1.0,22,22
15,2013,AUGUST,14,ARRIEL 1,1S1,MODULE 1 REPLACEMENT,MO1 REPLACEMENT,None,NONE,None,None,None,L2,KA,1.0,14,14
16,2013,AUGUST,12,ARRIEL 1,1D1,TU347,TU 347,None,NONE,None,None,None,L3,BS,1.0,12,12
17,2013,AUGUST,19,ARRIEL 1,1D1,TU347,TU 347,None,NONE,None,None,None,L3,BS,1.0,19,19
18,2013,SEPTEMBER,18,ARRIEL 2,2S2,MODULE 2/3 REPLACEMENT,MO2 REPLACEMENT,MO3 REPLACEMENT,NONE,None,None,None,L2,BS,1.0,18,18
19,2013,OCTOBER,1,ARRIEL 2,2S1,MODULE 1/3 REPLACEMENT,MO1 REPLACEMENT,MO3 REPLACEMENT,NONE,None,None,None,L2,BS,1.0,1,1
20,2013,OCTOBER,8,ARRIEL 2,2C1,POST RENTAL INSPECTION,POST RENTAL INSPECTION,None,NONE,None,None,None,L2,KA,1.0,8,8

In [41]:
df_mod2 = df_mod1.copy()

In [42]:
# Calculate task count and task duration
import math

def count_tasks(row):
    """Count non-null tasks in Task_1 through Task_6"""
    task_cols = ['Task_1', 'Task_2', 'Task_3', 'Task_4', 'Task_5', 'Task_6']
    return sum(1 for col in task_cols if pd.notna(row[col]) and str(row[col]).strip().lower() != 'none') 

def calculate_task_duration(row):
    """
    Calculate duration per task by dividing total duration by task count.
    Round up with minimum of 1 day.
    """
    if pd.isna(row['duration']) or row['duration'] == 0:
        return None
    
    task_count = row['task_count']
    if task_count == 0:
        return None
    
    # Divide duration by task count and round up
    task_duration = math.ceil(row['duration'] / task_count)
    
    # Ensure minimum of 1 day
    return max(1, task_duration)

# Add task_count column
df_mod2['task_count'] = df_mod2.apply(count_tasks, axis=1)

# Add task_duration column
df_mod2['task_duration'] = df_mod2.apply(calculate_task_duration, axis=1)

print("Task count and task duration calculated!")
print("\nSample calculations:")
print(df_mod2[['Day', 'duration', 'Task_1', 'Task_2', 'Task_3', 'Task_4', 'Task_5', 'Task_6', 'task_count', 'task_duration']].head(30))

task_col_index = df_mod2.columns.get_loc('Task_6')

for col in ['task_count', 'task_duration']:
    if col in cols:
        cols.remove(col)

cols.insert(task_col_index + 1, 'task_count')
cols.insert(task_col_index + 2, 'task_duration')

# Reorder dataframe
df_mod2 = df_mod2[cols]

print("df_mod2 created with task_count and task_duration columns after Task_6")
print(df_mod2.columns.tolist())

Task count and task duration calculated!

Sample calculations:
   Day  duration                       Task_1           Task_2  \
1   14       1.0              MO4 REPLACEMENT  MO5 REPLACEMENT
2   27       1.0                       TU 347  MO5 REPLACEMENT
3    9       1.0       HMU SLEEVE REPLACEMENT             None
4   10       1.0              MO1 REPLACEMENT             None
5   14       1.0              MO5 REPLACEMENT             None
6   19       1.0                       TU 166             None
7   22       1.0                       TU 166             None
8   27       1.0            HMU TBO EXTENTION             None
9   10       1.0              MO5 REPLACEMENT             None
10  14       1.0                       TU 166             None
11   4       1.0              MO1 REPLACEMENT  MO5 REPLACEMENT
12  12       1.0       HMU SLEEVE REPLACEMENT             None
13  15       1.0              MO3 REPLACEMENT             None
14  22       1.0              MO3 REPLACEMENT             None
15  14       1.0              MO1 REPLACEMENT             None
16  12       1.0                       TU 347             None
17  19       1.0                       TU 347             None
18  18       1.0              MO2 REPLACEMENT  MO3 REPLACEMENT
19   1       1.0              MO1 REPLACEMENT  MO3 REPLACEMENT
20   8       1.0       POST RENTAL INSPECTION             None
21  18       1.0              MO4 REPLACEMENT             None
22  24       1.0              MO1 REPLACEMENT  MO4 REPLACEMENT
23  25       1.0       POST RENTAL INSPECTION             None
24  31       1.0       HMU SLEEVE REPLACEMENT             None
25   5       1.0  LIGHTNING STRIKE INSPECTION             None
26  14       1.0                 MO1 OIL DRIP             None
27  20       1.0  LIGHTNING STRIKE INSPECTION             None
28  13       1.0              MO3 REPLACEMENT             None
29  20       1.0  NFT SEALOL SEAL REPLACEMENT             None
30  27       1.0              MO3 REPLACEMENT             None

             Task_3 Task_4 Task_5 Task_6  task_count  task_duration
1              NONE   None   None   None           2            1.0
2              NONE   None   None   None           2            1.0
3              NONE   None   None   None           1            1.0
4              NONE   None   None   None           1            1.0
5              NONE   None   None   None           1            1.0
6              NONE   None   None   None           1            1.0
7              NONE   None   None   None           1            1.0
8              NONE   None   None   None           1            1.0
9              NONE   None   None   None           1            1.0
10             NONE   None   None   None           1            1.0
11             NONE   None   None   None           2            1.0
12             NONE   None   None   None           1            1.0
13             NONE   None   None   None           1            1.0
14             NONE   None   None   None           1            1.0
15             NONE   None   None   None           1            1.0
16             NONE   None   None   None           1            1.0
17             NONE   None   None   None           1            1.0
18             NONE   None   None   None           2            1.0
19             NONE   None   None   None           2            1.0
20             NONE   None   None   None           1            1.0
21             NONE   None   None   None           1            1.0
22  MO5 REPLACEMENT   None   None   None           3            1.0
23             NONE   None   None   None           1            1.0
24             NONE   None   None   None           1            1.0
25             NONE   None   None   None           1            1.0
26             NONE   None   None   None           1            1.0
27             NONE   None   None   None           1            1.0
28             NONE   None   None   None           1            1.0
29             NONE   None   None   None           1            1.0
30             NONE   None   None   None           1            1.0
df_mod2 created with task_count and task_duration columns after Task_6
['Year', 'Mth', 'Day', 'Engine', 'Variant', 'Brief Description of Technical Intervention', 'Task_1', 'Task_2', 'Task_3', 'Task_4', 'Task_5', 'Task_6', 'task_count', 'task_duration', 'Intervention level', 'By']

### Standardize other columns

In [43]:
# Standardize Intervention level to L1, L2, L3 format
def standardize_intervention_level(level):
    """Standardize intervention level to L1, L2, or L3 format"""
    if pd.isna(level):
        return level
    
    level_str = str(level).strip().upper()
    
    # Extract the number from various formats
    # Match patterns like: L1, L2, L3, Level 1, Level 2, etc.
    match = re.search(r'[L]?(\d)', level_str)
    if match:
        number = match.group(1)
        return f'L{number}'
    
    return level

df_mod2['Intervention level'] = df_mod2['Intervention level'].apply(standardize_intervention_level)

print("Intervention level standardized!")
print("\nUnique intervention levels:")
print(df_mod2['Intervention level'].unique())
print("\nIntervention level distribution:")
print(df_mod2['Intervention level'].value_counts())

Intervention level standardized!

Unique intervention levels:
['L2' 'L3' 'L1' 'L4']

Intervention level distribution:
Intervention level
L1    293
L2     86
L3     16
L4      1
Name: count, dtype: int64

In [44]:
df_mod2['Engine'].unique().tolist()

['ARRIEL 2',
 'ARRIEL 1',
 'Accessories',
 'ARRIUS 1',
 'ARRIUS 2',
 'MAKILA 2',
 'ARRIEl 1',
 'ARRIEL',
 'ARRIUS',
 'ARRIUS ',
 'Arriel 2',
 'MAKILA 1',
 'ARRIEL2',
 'ARRRIEL 2',
 'E-APU',
 'MAKILA ',
 'eAPU',
 'Arriel 1',
 ' ARRIEL 2',
 'Arrius 2',
 'Makila 2',
 'Makila 1',
 'Arrius 1']

In [45]:
# Standardize Engine names (keep engine family + number: ARRIEL 1, ARRIEL 2, etc.)
def standardize_engine(row):
    """Standardize engine names to: ARRIEL 1, ARRIEL 2, ARRIUS 1, ARRIUS 2, MAKILA 1, MAKILA 2, E-APU, ACCESSORIES.
    If no number is present in the engine name, infer from the Variant column (first digit)."""
    engine = row['Engine']
    variant = row['Variant']
    
    if pd.isna(engine):
        return engine
    
    engine_str = str(engine).strip().upper()
    engine_str = re.sub(r'\s+', ' ', engine_str)
    
    # Extract number from engine string (e.g., "ARRIEL 2" -> 2, "ARRIEL2" -> 2)
    num_match = re.search(r'(\d)', engine_str)
    
    # If no number in engine name, infer from Variant column (first character)
    if num_match:
        num = num_match.group(1)
    elif pd.notna(variant):
        variant_str = str(variant).strip()
        var_match = re.search(r'^(\d)', variant_str)
        num = var_match.group(1) if var_match else None
    else:
        num = None
    
    # ARRIEL variations (including typos like ARRRIEL, ARRIEl, ARRIEL2, etc.)
    if re.search(r'AR+I+E*L', engine_str):
        return f'ARRIEL {num}' if num else 'ARRIEL'
    
    # ARRIUS variations
    if 'ARRIUS' in engine_str or 'ARIUS' in engine_str:
        return f'ARRIUS {num}' if num else 'ARRIUS'
    
    # MAKILA variations
    if 'MAKILA' in engine_str:
        return f'MAKILA {num}' if num else 'MAKILA'
    
    # E-APU / eAPU variations
    if 'APU' in engine_str or 'E-APU' in engine_str or 'EAPU' in engine_str:
        return 'E-APU'
    
    # ACCESSORIES
    if 'ACCESSORIES' in engine_str or 'ACCESSORY' in engine_str:
        return 'ACCESSORIES'
    
    return engine_str

df_mod2['Engine'] = df_mod2.apply(standardize_engine, axis=1)

print("Engine names standardized!")
print("\nUnique Engine values:")
print(sorted(df_mod2['Engine'].unique()))
print("\nEngine distribution:")
print(df_mod2['Engine'].value_counts())

Engine names standardized!

Unique Engine values:
['ACCESSORIES', 'ARRIEL 1', 'ARRIEL 2', 'ARRIUS 1', 'ARRIUS 2', 'E-APU', 'MAKILA 1', 'MAKILA 2']

Engine distribution:
Engine
ARRIEL 2       122
ARRIEL 1       111
ARRIUS 2        66
ARRIUS 1        43
MAKILA 2        38
MAKILA 1         9
ACCESSORIES      5
E-APU            2
Name: count, dtype: int64

In [46]:
df_mod2['Variant'].unique().tolist()

['2S2',
 '1S1',
 '2D',
 '2C2',
 '2s2',
 '1D1',
 '2S1',
 '2C1',
 '1E2',
 '2C',
 '1A',
 '2B1',
 '1B',
 '2B',
 '1C2',
 '1D',
 '2F',
 '2K2',
 'A1',
 'C2',
 'S1',
 '2A1',
 'E2',
 'D1',
 'B',
 'D',
 'A',
 'S2',
 'C1',
 'F',
 'B1',
 'K2',
 '60',
 'B2',
 '1A1',
 '1A2',
 'C',
 'R']

In [47]:
# Standardize Variant to uppercase
df_mod2['Variant'] = df_mod2['Variant'].apply(lambda x: str(x).upper() if pd.notna(x) else x)

df_mod2['Variant'].unique()

array(['2S2', '1S1', '2D', '2C2', '1D1', '2S1', '2C1', '1E2', '2C', '1A',
       '2B1', '1B', '2B', '1C2', '1D', '2F', '2K2', 'A1', 'C2', 'S1',
       '2A1', 'E2', 'D1', 'B', 'D', 'A', 'S2', 'C1', 'F', 'B1', 'K2',
       '60', 'B2', '1A1', '1A2', 'C', 'R'], dtype=object)

In [48]:
df_mod2['By'].unique().tolist()

['BS',
 'KA',
 'MM',
 ' BS',
 'Ray (TAP)',
 'Jay (TAP) and Jeff',
 'Otaka(TMJ) and Ejam(GTA)',
 'SIEW',
 'JASMALIZAM',
 'ALI',
 'Jerome',
 'Jasmalizam',
 'AZAHARI',
 'Ali',
 'Jerome METCHEDE',
 'JEROME METCHEDE',
 'CHRISTOPHE.S',
 'JP',
 'AZHARI',
 'NAUFAL',
 'Naufal',
 'Azhari',
 'Ali Ismail',
 ' Naufal',
 'Zahid']

In [49]:
# Standardize By column
def standardize_by(by_value):
    """Standardize By column - uppercase and extract first name"""
    if pd.isna(by_value):
        return by_value
    
    # Convert to uppercase and trim
    by_str = str(by_value).strip().upper()
    
    # For entries with "AND", keep as is (multi-person entries)
    if 'AND' in by_str:
        return by_str
    
    # Extract first word (first name or department code)
    # This handles: "JEROME METCHEDE" â†’ "JEROME", "ALI" â†’ "ALI", "BS" â†’ "BS"
    # Also handles: "RAY (TAP)" â†’ "RAY"
    first_word = by_str.split()[0]
    
    # Name corrections
    if first_word == 'AZAHARI':
        first_word = 'AZHARI'
    
    return first_word

df_mod2['By'] = df_mod2['By'].apply(standardize_by)
df_mod2['By'].unique()

array(['BS', 'KA', 'MM', 'RAY', 'JAY (TAP) AND JEFF',
       'OTAKA(TMJ) AND EJAM(GTA)', 'SIEW', 'JASMALIZAM', 'ALI', 'JEROME',
       'AZHARI', 'CHRISTOPHE.S', 'JP', 'NAUFAL', 'ZAHID'], dtype=object)

In [50]:
# Save df_mod2 to Excel and CSV
df_mod2.to_excel('Technical_Assistance_Cleaned.xlsx', index=False)
df_mod2.to_csv('Technical_Assistance_Cleaned.csv', index=False)

print("\nData saved successfully!")
print("- Excel file: Technical_Assistance_Cleaned.xlsx")
print("- CSV file: Technical_Assistance_Cleaned.csv")
print(f"Total rows: {len(df_mod2)}")
print(f"Total columns: {len(df_mod2.columns)}")

Data saved successfully!
- Excel file: Technical_Assistance_Cleaned.xlsx
- CSV file: Technical_Assistance_Cleaned.csv
Total rows: 396
Total columns: 16